//Colors
$backgroundColor: #f4f4f4;
$accentColor: #8b3aba;
$accentColor: #446CB3;
$customAccent: #f2ca26;

$lightgrey: #c6c5ca;
$darkGrey: rgba(0,0,0,0.5);;
$lightBlue: #19b5fe;
$lightGreen: #2ecc71;
$lightRed: #e74c3c;

//Specific colors:
$studentColor: #2ecc71;
$lecturerColor: #446CB3;
$adminColor: #e74c3c;

$attendanceColor: #2ecc71;
$gradeColor: #f2ca26;
$fileColor: #446CB3;

//Fonts
$logoFont: 'Raleway', "Titillium Web", Montserrat, Arial;
$headerFont: 'Titillium Web', Montserrat, Arial;
$titleFont: 'Source Sans Pro', Montserrat, Arial;
$contentFont: "Source Sans Pro", Monaco, Georgia, Arial;
$tagFont: 'Titillium Web', Montserrat, Arial;

//Others
$sidebarWidth: 250px;
$sidebarFont: 'Titillium Web', Montserrat, Arial;
$sidebarAnimation: 200ms ease-in-out;

$preloader-hide-time: 500ms
