
<div ng-show="pager.totalPages&gt;0" class="pagination-wrapper">
  <h4>{{language == 'en' ? 'Page' : 'Pagina'}}</h4><span ng-click="firstPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.firstPage}" class="control-arrow"><i class="material-icons">first_page</i></span><span ng-click="previousPage()" ng-class="{'disabled': !pager.hasPreviousPage}" class="control-arrow"><i class="material-icons">chevron_left</i></span>
  <div class="pagination">
    <ul class="pagination-list">
      <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="selectPage($index)">{{$index+1}}</li>
    </ul>
  </div><span ng-click="nextPage()" ng-class="{'disabled': !pager.hasNextPage}" class="control-arrow"><i class="material-icons">chevron_right</i></span><span ng-click="lastPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.lastPage}" class="control-arrow"><i class="material-icons">last_page</i></span>
</div>