#add-user.modal.custom-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-icon-titled
        section
          i.material-icons person_add
          h2 {{modal['add-user'].title}}
        section.left-aligned
          h1 {{modal['add-user'].step.current+'. '+modal['add-user'].step.title}}
          p(ng-show='modal["add-user"].step.details.length' ng-repeat="detail in modal['add-user'].step.details" ng-class="detail.class") {{detail.content}}
      .modal-body
        div.preloader-wrapper(ng-show="modal['add-user'].loading")
          figure.preloader
          h5 {{modal['add-user'].labels.loading}}
        ul(ng-hide="modal['add-user'].loading || modal['add-user'].step.current!==1")
          li
            label(for='type') {{modal['add-attendance'].labels.table.type}}
            select#type(name='type', ng-model='modal.local.type', placeholder='Select type')
              option(selected disabled value='') {{modal['add-user'].labels.placeholders.selectUserType}}
              option(value='student') {{modal['add-user'].labels.table.student}}
              option(value='lecturer') {{modal['add-user'].labels.table.lecturer}}
              option(value='admin') {{modal['add-user'].labels.table.admin}}
          li.error(ng-if='modal.local.errors.type') {{modal.local.errors.type}}
          li
            label(for='first_name') {{modal['add-attendance'].labels.table.firstName}}
            input#first_name(type='input', ng-model='modal.local.firstName', placeholder='Enter first name')
          li.error(ng-if='modal.local.errors.firstName') {{modal.local.errors.firstName}}
          li
            label(for='last_name') {{modal['add-attendance'].labels.table.lastName}}
            input#last_name(type='input', ng-model='modal.local.lastName', placeholder='Enter last name')
          li.error(ng-if='modal.local.errors.lastName') {{modal.local.errors.lastName}}
        ul(ng-hide="modal['add-user'].loading || modal['add-user'].step.current!==2")
          li
            label(for='email') {{modal['add-attendance'].labels.table.email}}
            input#email(type='input', ng-model='modal.local.email', placeholder='Enter email')
          li.error(ng-if='modal.local.errors.email') {{modal.local.errors.email}}
          li
            label(for='password') {{modal['add-attendance'].labels.table.password}}
            input#password(type='password', ng-model='modal.local.password', placeholder='Enter password')
          li.error(ng-if='modal.local.errors.password') {{modal.local.errors.password}}
          li
            label(for='rpassword') {{modal['add-attendance'].labels.table.rpassword}}
            input#rpassword(type='password', ng-model='modal.local.rpassword', placeholder='Confirm password')
          li.error(ng-if='modal.local.errors.rpassword') {{modal.local.errors.rpassword}}
      .modal-footer.text-center(ng-hide="modal['add-user'].loading")
          button.ebutton.white-button(type='button', ng-click='modal["add-user"].action.cancel(modal.local)') {{modal['add-user'].cancel}}
          button.ebutton.green-button(type='button', ng-click='modal["add-user"].action.submit(modal.local)') {{modal['add-user'].submit}}
    // /.modal-content
  // /.modal-dialog
// /.modal
