.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #f4f4f4; }

.container-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: scroll;
  position: relative;
  min-height: calc(100% - 70px); }
  .container-wrapper > * {
    width: 100%; }

.container-header {
  display: flex;
  height: calc(70px + 1px);
  background-color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7; }
  .container-header h2 {
    font-family: "Titillium Web", Montserrat, Arial;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin: 0; }
  .container-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row; }
    .container-header ul.breadcrumbs-list li:not(:last-child) {
      margin-right: 10px; }
    .container-header ul.breadcrumbs-list li span {
      font-size: 14px; }
    .container-header ul li {
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 300ms ease-in-out; }
      .container-header ul li:not(:last-child) {
        margin-right: 20px; }
      .container-header ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 150ms ease-in-out;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        cursor: pointer; }
        .container-header ul li a span {
          font-size: 14px; }
        .container-header ul li a:hover {
          color: rgba(0, 0, 0, 0.8); }
      .container-header ul li a:not(:last-child), .container-header ul li i:not(:last-child), .container-header ul li span:not(:last-child) {
        margin-right: 10px; }
      .container-header ul li span {
        font-family: "Titillium Web", Montserrat, Arial;
        font-weight: 700;
        font-size: 12px;
        text-transform: capitalize; }
      .container-header ul li i {
        font-size: 18px; }
      .container-header ul li:last-child .breadcrumb-separator {
        display: none; }

.body-container {
  width: 100%; }

.container-title {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7; }
  .container-title .container-title-nav {
    margin-bottom: -30px; }

.container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 30px; }

.page-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .page-title-wrapper h2 {
    font-family: "Titillium Web", Montserrat, Arial;
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0; }
    .page-title-wrapper h2.h2-sm {
      font-size: 24px; }
    .page-title-wrapper h2:not(:last-child) {
      margin-right: 10px; }
    .page-title-wrapper h2 a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.5);
      transition: color 100ms ease-in-out;
      text-transform: capitalize; }
      .page-title-wrapper h2 a:hover {
        color: #4d4d4d; }
  .page-title-wrapper span:not(:last-child) {
    margin-right: 10px; }
  .page-title-wrapper .page-title-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.notifications-wrapper {
  width: 300px;
  max-width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 40px;
  bottom: 20px; }

.notification {
  width: 100%;
  position: relative;
  padding: 15px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 100ms ease-in-out; }
  .notification i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    cursor: pointer; }
    .notification i.material-icons:hover {
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold; }
  .notification h2 {
    margin-top: 0;
    font-family: "Titillium Web", Montserrat, Arial;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75); }
    .notification h2:last-child {
      margin-bottom: 0; }
  .notification p {
    font-family: "Source Sans Pro", Monaco, Georgia, Arial;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0; }
  .notification a {
    font-family: "Source Sans Pro", Monaco, Georgia, Arial;
    font-size: 12px;
    text-decoration: none;
    margin-top: 5px;
    color: #19b5fe; }
    .notification a:hover {
      color: #018aca; }
  .notification.error-notification h2 {
    color: #e74c3c; }
  .notification.success-notification h2 {
    color: #2ecc71; }
  .notification:hover {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.2); }
  .notification:not(:last-child) {
    margin-bottom: 20px; }

.state-transition {
  transition: all 200ms ease-in-out; }
  .state-transition.transition-state {
    margin-left: 100vw;
    overflow: hidden;
    opacity: 0.5; }

.modal-dialog {
  margin-top: 70px; }

::-webkit-scrollbar {
  display: none; }

input[type=checkbox].checkbox-hidden {
  display: none; }

.col-wrapper {
  padding: 0; }

.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  background: linear-gradient(to bottom, #f4f4f4 0%, #dbdbdb 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: opacity 500ms ease-out; }
  .preloader .p-boxes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .preloader .p-boxes-wrapper .p-box {
      width: 10px;
      height: 10px;
      margin: 0;
      padding: 0;
      background-color: white;
      animation: fadeInOut 1s infinite;
      animation-fill-mode: both;
      opacity: 0; }
      .preloader .p-boxes-wrapper .p-box:nth-child(1) {
        animation-delay: 0s; }
      .preloader .p-boxes-wrapper .p-box:nth-child(2) {
        animation-delay: 0.25s; }
      .preloader .p-boxes-wrapper .p-box:nth-child(3) {
        animation-delay: 0.50s; }
      .preloader .p-boxes-wrapper .p-box:not(:last-child) {
        margin-right: 10px; }

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(1); }
  30% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 0;
    transform: scale(1); } }

.sidebar-wrapper {
  display: flex;
  flex-grow: 0;
  width: 12%;
  min-width: 200px;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #333742;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.sidebar-logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", Monaco, Georgia, Arial;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: #434752; }
  .sidebar-logo figure.logo {
    width: 35px;
    height: 35px;
    opacity: 1;
    background: url("../img/white_potion2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    margin-right: 10px; }

.sidebar-links {
  width: 100%;
  height: auto;
  margin-top: 30px; }
  .sidebar-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 1px 0; }
  .sidebar-links label {
    font-family: "Titillium Web", Montserrat, Arial;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    margin-left: 30px; }
    .sidebar-links label:not(:first-child) {
      margin-top: 20px; }
  .sidebar-links li {
    width: 100%; }
  .sidebar-links a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333742;
    padding: 15px 30px;
    font-family: "Titillium Web", Montserrat, Arial;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    border-left: 0px solid transparent;
    transition: background 100ms ease-in-out;
    opacity: 0.7;
    margin-left: 0; }
    .sidebar-links a.active {
      border-left: 2px solid #50CF7E;
      background-color: #292C35;
      opacity: 1; }
      .sidebar-links a.active i {
        margin-left: -2px;
        color: #50CF7E; }
      .sidebar-links a.active:hover i {
        color: white; }
    .sidebar-links a i {
      margin-right: 20px;
      width: 25px; }
      .sidebar-links a i.material-icons {
        font-size: 18px; }
    .sidebar-links a:hover {
      text-decoration: none;
      opacity: 1;
      background-color: #2ecc71;
      border-right: 1px solid rgba(255, 255, 255, 0.2); }

.table-wrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.table-title {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Source Sans Pro", Monaco, Georgia, Arial;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.elixir-table {
  margin-bottom: 0;
  box-sizing: border-box; }
  .elixir-table tbody, .elixir-table thead {
    background-color: white; }
    .elixir-table tbody tr td, .elixir-table thead tr td {
      padding: 10px 15px;
      font-family: "Source Sans Pro", Monaco, Georgia, Arial;
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      vertical-align: middle;
      border: 1px solid rgba(0, 0, 0, 0.03); }
    .elixir-table tbody tr th, .elixir-table thead tr th {
      padding: 15px 15px;
      font-family: "Source Sans Pro", Monaco, Georgia, Arial;
      vertical-align: middle;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.03); }
      .elixir-table tbody tr th:first-child, .elixir-table thead tr th:first-child {
        padding-left: 20px;
        padding-right: 20px; }
  .elixir-table thead tr th {
    padding: 20px 15px; }
  .elixir-table tbody tr th {
    width: 50px; }
  .elixir-table tbody tr th.th-bg {
    background-color: rgba(0, 0, 0, 0.1); }
  .elixir-table tbody tr:hover {
    transition: all 200ms cubic-bezier(0.3, 1.35, 1, 1);
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer; }
  .elixir-table.disable-hover tbody tr:hover {
    background-color: white;
    cursor: default; }

.elixir-table-horizontal tbody tr th {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: auto;
  width: 30%; }

.elixir-table-horizontal tbody tr td {
  display: block;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px; }
  .elixir-table-horizontal tbody tr td > span.tag {
    display: inline;
    margin-right: 10px; }

.td-bold {
  font-weight: bold !important; }

.td-lg {
  font-size: 16px !important; }

.td-blue {
  color: #19b5fe !important; }

.td-green {
  color: #2ecc71 !important; }

.td-spaced {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important; }

.td-disabled {
  color: grey;
  opacity: 0.5; }

.td-empty {
  color: black !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  font-weight: bold !important;
  background-color: lightgrey !important;
  border: none !important;
  opacity: 0.5 !important; }

form.eform {
  width: 100%; }

section.eform-group:not(:last-child) {
  margin-bottom: 25px; }

label.elabel {
  font-family: "Source Sans Pro", Monaco, Georgia, Arial;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0; }

label.error {
  font-family: "Source Sans Pro", Monaco, Georgia, Arial;
  font-size: 16px;
  font-weight: 400;
  color: #e74c3c; }
  label.error:not(:last-child) {
    margin-bottom: 0px; }

input.einput {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 3px solid #e7e7e7;
  font-family: "Titillium Web", Montserrat, Arial;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8); }
  input.einput:focus {
    outline: none; }

figure.logo {
  width: 100px;
  height: 100px;
  opacity: 1;
  background: url("../img/white_potion2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0; }

figure.preloader {
  width: 80px;
  height: 80px;
  position: relative;
  opacity: 0.75;
  background: url("../img/preloader2.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0; }

figure.university-logo {
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.85;
  background: url("../img/fii.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0; }

figure.search-bar-wrapper {
  display: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  figure.search-bar-wrapper i {
    transition: color 200ms ease-in-out;
    position: absolute;
    right: 50px; }

input.search-bar {
  width: 250px;
  height: 35px;
  margin: 0;
  padding: 5px 15px;
  padding-right: 35px;
  background-color: transparent;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  font-size: 13px;
  font-family: "Source Sans Pro", Monaco, Georgia, Arial;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  transition: border-color 200ms ease-in-out; }
  input.search-bar:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
    border-color: #2ecc71; }
    input.search-bar:focus + i {
      color: #2ecc71; }

span.tag {
  width: auto;
  padding: 3px 10px;
  font-family: "Titillium Web", Montserrat, Arial;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
  min-width: 75px;
  display: block;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); }
  span.tag.tag-sm {
    min-width: 0px;
    width: 30px; }
  span.tag.tag-auto {
    width: auto;
    min-width: 0;
    display: inline; }
  span.tag.tag-student {
    background-color: #2ecc71; }
  span.tag.tag-lecturer {
    background-color: #446CB3; }
  span.tag.tag-admin {
    background-color: #e74c3c; }
  span.tag.tag-attendance {
    background-color: #2ecc71; }
  span.tag.tag-grade {
    background-color: #9b59b6; }
  span.tag.tag-file {
    background-color: #446CB3; }

.tabs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Titillium Web", Montserrat, Arial;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .tabs-wrapper li {
    transition: color 100ms ease-in-out;
    padding: 20px 0 10px 0;
    margin: 10px 20px 0 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer; }
    .tabs-wrapper li:first-child {
      margin-left: 2px; }
    .tabs-wrapper li:last-child {
      margin-right: 0; }
    .tabs-wrapper li.active {
      border-bottom: 2px solid #50CF7E; }
    .tabs-wrapper li.disabled {
      color: rgba(0, 0, 0, 0.2);
      cursor: default; }
      .tabs-wrapper li.disabled:hover {
        color: rgba(0, 0, 0, 0.2); }
    .tabs-wrapper li:hover {
      color: rgba(0, 0, 0, 0.8); }

.filters-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: bold; }
  .filters-wrapper span {
    font-family: "Titillium Web", Montserrat, Arial;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 25px !important; }
  .filters-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0; }
    .filters-wrapper ul li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .filters-wrapper ul li:not(:last-child) {
        margin-right: 25px; }
      .filters-wrapper ul li label {
        position: relative;
        font-family: "Titillium Web", Montserrat, Arial;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        user-select: none;
        margin-bottom: 0;
        padding-left: 35px;
        cursor: pointer;
        transition: color 200ms ease-in-out; }
        .filters-wrapper ul li label:before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 6px;
          left: 6px;
          width: 8px;
          height: 8px;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: background-color 200ms ease-in-out; }
        .filters-wrapper ul li label:after {
          content: '';
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 3px solid rgba(0, 0, 0, 0.5);
          transition: all 200ms ease-in-out; }
      .filters-wrapper ul li figure.custom-checkbox {
        width: 15px;
        height: 15px;
        border: 3px solid #2ecc71;
        margin: 0;
        margin-right: 10px;
        padding: 0; }
      .filters-wrapper ul li input[type="checkbox"] {
        margin: 0;
        margin-right: 10px;
        border-radius: 0; }
        .filters-wrapper ul li input[type="checkbox"]:checked + label {
          color: #2ecc71; }
          .filters-wrapper ul li input[type="checkbox"]:checked + label:after {
            border-color: #2ecc71; }
          .filters-wrapper ul li input[type="checkbox"]:checked + label:before {
            opacity: 1;
            background-color: #2ecc71; }

.ebutton {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 7px 20px;
  transition: all 200ms cubic-bezier(0.07, 0.97, 0.58, 1);
  color: white;
  font-family: "Titillium Web", Montserrat, Arial;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.05); }
  .ebutton:hover {
    opacity: 1; }
  .ebutton:focus {
    outline: none; }
  .ebutton.green-button {
    color: white;
    background-color: #2ecc71;
    border-color: #2ecc71;
    text-decoration: none; }
    .ebutton.green-button:hover {
      color: white;
      border-color: #1b7943; }
  .ebutton.white-button {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: none; }
    .ebutton.white-button:hover {
      color: rgba(0, 0, 0, 0.7);
      border-color: rgba(0, 0, 0, 0.4); }
  .ebutton.login-button {
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: #2ecc71; }
    .ebutton.login-button:hover {
      background-color: #54d98c; }
    .ebutton.login-button.alt-login-button {
      background-color: white;
      border: 2px solid #2ecc71;
      color: #2ecc71; }
      .ebutton.login-button.alt-login-button:hover {
        background-color: #2ecc71;
        color: white; }

.custom-modal .modal-content {
  box-shadow: none;
  border-radius: 0;
  padding: 0 0; }
  .custom-modal .modal-content .modal-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #434752;
    padding: 20px; }
    .custom-modal .modal-content .modal-icon i {
      font-size: 40px;
      color: #2ecc71; }
    .custom-modal .modal-content .modal-icon h2 {
      font-family: "Titillium Web", Montserrat, Arial;
      font-size: 16px;
      font-weight: 400;
      color: white;
      margin: 0;
      margin-top: 10px;
      padding: 0; }
  .custom-modal .modal-content .modal-header {
    padding: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .custom-modal .modal-content .modal-header h2 {
      font-family: "Titillium Web", Montserrat, Arial;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.5);
      margin: 0;
      padding: 0; }
    .custom-modal .modal-content .modal-header.text-center {
      justify-content: center; }
    .custom-modal .modal-content .modal-header:before, .custom-modal .modal-content .modal-header:after {
      display: none; }
  .custom-modal .modal-content .modal-body {
    padding: 25px 25px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
    .custom-modal .modal-content .modal-body ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .custom-modal .modal-content .modal-body ul li.error {
        color: #e74c3c;
        font-family: "Source Sans Pro", Monaco, Georgia, Arial;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        margin-top: -10px;
        text-align: left;
        display: block;
        margin-left: 115px; }
      .custom-modal .modal-content .modal-body ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .custom-modal .modal-content .modal-body ul li:not(:last-child) {
          margin-bottom: 20px; }
        .custom-modal .modal-content .modal-body ul li p {
          font-family: "Source Sans Pro", Montserrat, Arial;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.5); }
        .custom-modal .modal-content .modal-body ul li label {
          font-family: "Source Sans Pro", Monaco, Georgia, Arial;
          font-size: 14px;
          font-weight: 400;
          margin-right: 15px;
          margin-bottom: 0;
          width: 100px; }
        .custom-modal .modal-content .modal-body ul li input, .custom-modal .modal-content .modal-body ul li select {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0;
          padding: 8px 10px;
          flex-grow: 1;
          transition: all 200ms ease-in-out; }
          .custom-modal .modal-content .modal-body ul li input:focus, .custom-modal .modal-content .modal-body ul li select:focus {
            outline: none;
            border-color: #7ee2a8; }
  .custom-modal .modal-content .modal-footer {
    padding: 20px 0; }
    .custom-modal .modal-content .modal-footer.text-center {
      text-align: center; }

.no-transform {
  text-transform: none !important; }

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #f4f4f4; }

.login-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  min-height: 400px;
  padding: 0;
  border: 1px solid #e7e7e7;
  box-sizing: content-box; }
  .login-box .left-box, .login-box .right-box {
    height: inherit;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .login-box.loading-state {
    border: none; }
    .login-box.loading-state .left-box {
      transition: all 200ms ease-in-out;
      width: 0; }
      .login-box.loading-state .left-box > * {
        display: none; }
    .login-box.loading-state .right-box {
      transition: all 200ms ease-in-out;
      width: 100%; }
  .login-box .left-box {
    width: 35%;
    background-color: #333742; }
    .login-box .left-box figure.logo {
      width: 75px;
      height: 75px; }
    .login-box .left-box h2, .login-box .left-box h3 {
      font-family: "Titillium Web", Montserrat, Arial;
      margin-bottom: 0; }
    .login-box .left-box h2 {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1px;
      color: white;
      margin-top: 15px; }
    .login-box .left-box h3 {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.75);
      margin-top: 5px; }
  .login-box .right-box {
    width: 65%;
    background-color: white;
    padding: 8%;
    position: relative; }
    .login-box .right-box .preloader-wrapper {
      background-color: white; }
      .login-box .right-box .preloader-wrapper figure.preloader {
        margin-bottom: 10px; }
      .login-box .right-box .preloader-wrapper h4 {
        font-family: "Titillium Web", Montserrat, Arial;
        font-size: 14px;
        font-weight: 400;
        color: #c6c5ca;
        margin: 0; }
    .login-box .right-box a {
      width: 100%;
      text-decoration: none; }

.preloader-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.university-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; }
  .university-wrapper p {
    margin-bottom: 0;
    font-family: "Titillium Web", Montserrat, Arial;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); }
  .university-wrapper:first-child {
    margin-bottom: 15px; }
  .university-wrapper:last-child {
    margin-top: 15px; }

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column; }
  .projects-wrapper {
    border-left: none;
    padding: 0;
    margin: 0;
    padding-top: 5vh;
    margin-top: 5vh;
    border-top: 1px solid white; } }

@media screen and (max-width: 640px), screen and (max-height: 480px) {
  figure.logo {
    width: 100px;
    height: 100px;
    margin-top: 30px; }
  .logo-text {
    margin-top: 0; }
  .login-box {
    flex-direction: column;
    border-left: 0;
    border-right: 0;
    height: 700px; }
    .login-box .left-box, .login-box .right-box {
      width: 100%; } }

@media screen and (max-width: 400px) {
  .logo-wrapper {
    flex-direction: column; }
    .logo-wrapper .logo-text {
      padding: 20px; }
      .logo-wrapper .logo-text h1, .logo-wrapper .logo-text h3 {
        text-align: center; }
  .project-wrapper {
    padding: 20px; } }
