
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
</section>
<section class="container-content">
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="pagination-wrapper">
            <ul class="pagination">
              <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
            </ul>
          </div>
          <figure class="search-bar-wrapper">
            <div class="search-bar">
              <input id="search-bar-input" name="search" type="text" ng-model="search.value" placeholder="Search"/><i ng-click="search.clear()" ng-show="search.value" class="material-icons">close</i>
            </div><a ng-click="search.go()" class="search-button"><i class="material-icons">search</i></a>
          </figure>
        </div>
        <table class="table elixir-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Student</th>
              <th ng-show="table.showGrades">Grade</th>
              <th>Name</th>
              <th>Course</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="activity in activities track by $index" ui-sref="base.activities.view({type: activities.type, activity_id: activity.activity.id, user_id: activity.student.id})">
              <th scope="row" class="col-sm-1">{{$index+1}}</th>
              <td><span ng-class="activity.tag" class="tag">{{activity.activity.type.name}}</span></td>
              <td class="td-bold">{{activity.student.firstName + ' ' + activity.student.lastName}}</td>
              <td ng-show="table.showGrades"><span class="tag tag-auto tag-grade">{{activity.value}}</span></td>
              <td>{{activity.activity.name}}</td>
              <td class="td-blue">{{activity.activity.course.title}</td>
              <td class="td-blue">{{activity.activity.date}}</td>
            </tr>
            <tr ng-if="!activities.length" class="disable-hover">
              <td colspan="6" class="td-disabled text-center">No results have been found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>