
<section class="content-container">
  <!-- Define scope title to be used by the header-->
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
        <button data-toggle="modal" data-target="#add-user-modal" class="ebutton green-button">Add Activity</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper">
        <table class="table elixir-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Name</th>
              <th>User</th>
              <th>Course</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="activity in activities track by $index" ui-sref="activities.view({id: activity.activity.id})">
              <th scope="row" class="col-sm-1">{{$index+1}}</th>
              <td><span ng-class="activity.tag" class="tag">{{activity.activity.type.name}}</span></td>
              <td>{{activity.activity.name}}</td>
              <td class="td-bold">{{activity.user.firstName + ' ' + activity.user.lastName}}</td>
              <td class="td-blue">{{activity.course.title}}</td>
              <td class="td-blue">{{activity.activity.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>