
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
</section>
<section class="container-content">
  <div class="row">
    <div class="col-md-6">
      <div class="table-wrapper">
        <div class="table-title">{{table.title}}</div>
        <table class="table elixir-table elixir-table-horizontal">
          <tbody>
            <tr ng-repeat="extraRow in table.extraRows track by $index">
              <th scope="row" class="col-sm-3">{{extraRow.title}}</th>
              <td ng-class="{ 'td-spaced disable-hover': extraRow.hasDownloadButton }" class="td-bold"><span ng-class="extraRow.customClass">{{extraRow.value}}</span><a ng-if="extraRow.hasDownloadButton" ng-href="{{table.retrieveLink()}}" target="_blank" class="ebutton white-button icon-button"><i class="material-icons">get_app</i></a></td>
            </tr>
            <tr ui-sref="base.users.view({type: activity.user.type+&quot;s&quot;, id: activity.user.id})">
              <th scope="row" class="col-sm-3">{{table.columns.user}}</th>
              <td class="td-bold"><span ng-class="activity.user.tag" class="tag">{{activity.user.type}}</span>{{activity.user.firstName+" "+activity.user.lastName}}</td>
              <td class="td-blue">{{activity.user.email}}</td>
            </tr>
            <tr ui-sref="base.activities.sublist({type: activity.type, activity_id: activity.activity.id})">
              <th scope="row" class="col-sm-3">{{table.columns.activity}}</th>
              <td class="td-bold"><span ng-class="activity.tag" class="tag">{{activity.activity.type.name}}</span>{{activity.activity.name}}</td>
              <td>{{activity.activity.date}}</td>
            </tr>
            <tr ui-sref="base.courses.view({id: activity.activity.course.id})">
              <th scope="row" class="col-sm-3">{{table.columns.course}}</th>
              <td class="td-bold">{{activity.activity.course.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>