
<!-- Common elements-->
<section class="main-container">
  <!-- Sidebar-->
  <section class="sidebar-wrapper">
    <div class="sidebar-logo">
      <figure class="logo"></figure>
    </div>
    <!-- Navigation--><span ng-class="authUser.class" class="tag tag-full tag-lg">{{authUser.type}}</span>
    <nav class="sidebar-links">
      <ul>
        <label>{{menuLabels.overview}}</label>
        <li ng-if="isAuthorized(authorizedRoles.dashboard.view)"><a ui-sref="base.dashboard" ui-sref-active="active"><i class="material-icons">dashboard</i><span>{{menuLabels.dashboard}}</span></a></li>
        <li ng-if="isAuthorized(authorizedRoles.activities.list)"><a ui-sref="base.activities.list({type: null, course_id: null, activity_id: null})" ng-class="{active:$state.includes('base.activities')}"><i class="material-icons">assignment</i><span>{{menuLabels.activities}}</span></a></li>
        <li ng-if="isAuthorized(authorizedRoles.reports)"><a ui-sref="base.reports" ui-sref-active="active"><i class="material-icons">sort</i><span>{{menuLabels.reports}}</span></a></li>
        <label>{{menuLabels.management}}</label>
        <li ng-if="isAuthorized(authorizedRoles.courses.list)"><a ui-sref="base.courses.list" ng-class="{active:$state.includes('base.courses')}"><i class="material-icons">school</i><span>{{menuLabels.courses}}</span></a></li>
        <li ng-if="isAuthorized(authorizedRoles.groups.list)"><a ui-sref="base.groups.list" ng-class="{active:$state.includes('base.groups')}"><i class="material-icons">library_books</i><span>{{menuLabels.groups}}</span></a></li>
        <li ng-if="isAuthorized(authorizedRoles.users.list)"><a ui-sref="base.users.list({type: null})" ng-class="{active: $state.includes('base.users')}"><i class="material-icons">people</i><span>{{menuLabels.users}}</span></a></li>
        <li ng-if="isAuthorized(authorizedRoles.import)"><a ui-sref="base.import" ui-sref-active="active"><i class="material-icons">import_export</i><span>{{menuLabels.import}}</span></a></li>
        <label>{{menuLabels.account}}</label>
        <li ng-if="isAuthorized(authorizedRoles.myAccount)" class="hide"><a ui-sref="base.users.view({type: authUser.type, id: authUser.id, detail: null})" ui-sref-active="active"><i class="material-icons">person</i><span>My Account</span></a></li>
        <li ng-if="isAuthorized(authorizedRoles.settings)"><a ui-sref="base.settings" ui-sref-active="active"><i class="material-icons">settings</i><span>{{menuLabels.settings}}</span></a></li>
        <li><a ng-click="modal.confirm.this(logout, 'logout')"><i class="material-icons">exit_to_app</i><span>{{menuLabels.logout}}</span></a></li>
      </ul>
    </nav>
  </section>
  <!-- Content-->
  <section class="body-container">
    <section class="container-header">
      <figure ng-click="toggleMenu()" class="menu-toggle"><i class="material-icons">menu</i></figure>
      <ul class="breadcrumbs-list">
        <li ng-repeat="path in paths"><a ng-href="{{getPath(path.state, path.params)}}"><i ng-if="path.icon" class="material-icons">{{path.icon}}</i><span ng-if="path.title">{{path.title}}</span></a><i ng-show="icons.showMaterial" class="material-icons breadcrumb-separator">chevron_right</i></li>
      </ul>
      <ul class="right-list">
        <li class="hide"><a href=""><i class="material-icons">notifications</i><span>Notifications</span></a></li>
        <li class="hide">
          <figure class="search-bar-wrapper">
            <input name="search" type="text" placeholder="Search" class="search-bar"/><i class="material-icons">search</i>
          </figure>
        </li>
        <li><a ui-sref="base.users.view({type: authUser.group, id: authUser.id, detail: null})"><i class="material-icons">person</i><span class="no-transform">{{authUser.email}}</span></a></li>
      </ul>
    </section>
    <section ng-class="{loading: loading}" class="container-wrapper">
      <div ui-view=""></div>
      <section class="notifications-wrapper">
        <div ng-repeat="notification in notifications.active track by $index" ng-class="notification.type" class="notification"><span ng-if="notifications.showDate">{{notification.date}}</span><i ng-click="notifications.dismiss($index)" class="material-icons">close</i>
          <h2>{{notification.title}}</h2>
          <p>{{notification.content}}</p><a ng-href="{{notification.link.href}}" ng-if="notification.link">{{notification.link.text}}</a>
        </div>
      </section>
    </section>
  </section>
</section>
<div id="view-activity-modal" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">assignment</i>
        <h2>{{modal['view-activity'].title}}</h2>
      </div>
      <div ng-show="modal['view-activity'].loading" class="modal-body">
        <div class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['view-activity'].loadingMessage}}</h5>
        </div>
      </div>
      <div ng-hide="modal['view-activity'].loading" class="table-wrapper modal-table activity-table">
        <table class="table elixir-table elixir-table-horizontal">
          <tbody>
            <tr ng-repeat="extraRow in modal[&quot;view-activity&quot;].table.extraRows track by $index">
              <th scope="row" class="col-sm-3">{{extraRow.title}}</th>
              <td ng-class="{ 'td-spaced disable-hover': extraRow.hasDownloadButton, 'no-padding': extraRow.canEdit &amp;&amp; modal['view-activity'].editMode }" class="td-bold"><span ng-class="extraRow.customClass" ng-hide="extraRow.canEdit &amp;&amp; modal['view-activity'].editMode">{{extraRow.value}}</span>
                <input type="number" ng-model="modal['view-activity'].data.newGrade" ng-show="modal['view-activity'].editMode" ng-value="extraRow.value" ng-if="extraRow.canEdit" class="td-input"/><a ng-if="extraRow.hasDownloadButton" ng-href="{{modal['view-activity'].table.retrieveLink()}}" target="_blank" class="ebutton icon-button"><i class="material-icons">get_app</i></a>
              </td>
            </tr>
            <tr ui-sref="base.users.view({type: modal[&quot;view-activity&quot;].activity.user.type+&quot;s&quot;, id: modal[&quot;view-activity&quot;].activity.user.id})" ng-class="{'edit-disabled': modal['view-activity'].editMode}" ng-click="modal[&quot;view-activity&quot;].action.cancel()">
              <th scope="row" class="col-sm-3">{{modal['view-activity'].table.columns.user}}</th>
              <td class="td-bold"><span ng-class="modal[&quot;view-activity&quot;].activity.user.tag" class="tag">{{modal['view-activity'].activity.user.type}}</span>{{modal['view-activity'].activity.user.firstName+" "+modal['view-activity'].activity.user.lastName}}</td>
              <td class="td-blue">{{modal['view-activity'].activity.user.email}}</td>
            </tr>
            <tr ui-sref="base.activities.list({course_id: modal[&quot;view-activity&quot;].activity.activity.course.id, activity_id: modal[&quot;view-activity&quot;].activity.id.activityId})" ng-class="{'edit-disabled': modal['view-activity'].editMode}" ng-click="modal[&quot;view-activity&quot;].action.cancel()">
              <th scope="row" class="col-sm-3">{{modal['view-activity'].table.columns.activity}}</th>
              <td class="td-bold"><span ng-class="modal[&quot;view-activity&quot;].activity.tag" class="tag">{{modal["view-activity"].activity.activity.type.name}}</span>{{modal['view-activity'].activity.activity.name}}</td>
              <td>{{modal['view-activity'].activity.activity.date}}</td>
            </tr>
            <tr ui-sref="base.courses.view({id: modal[&quot;view-activity&quot;].activity.activity.course.id})" ng-class="{'edit-disabled': modal['view-activity'].editMode}" ng-click="modal[&quot;view-activity&quot;].action.cancel()">
              <th scope="row" class="col-sm-3">{{modal['view-activity'].table.columns.course}}</th>
              <td class="td-bold">{{modal['view-activity'].activity.activity.course.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-hide="modal['view-activity'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;view-activity&quot;].action.cancel()" class="ebutton white-button right">{{modal['view-activity'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;view-activity&quot;].saveEdit()" ng-show="modal['view-activity'].editMode" class="ebutton green-button right m-r">{{modal['view-activity'].labels.buttons.save}}</button><i title="Delete" ng-if="isAuthorized(authorizedRoles.activities.delete)" ng-click="modal.confirm.this(delete, 'delete', activity)" class="material-icons icon-button icon-delete grid-button left">delete_forever</i><i title="Edit" ng-class="{'active': modal['view-activity'].editMode}" ng-if="isAuthorized(authorizedRoles.activities.edit) &amp;&amp; modal['view-activity'].activity.type == 'grades'" ng-click="modal['view-activity'].toggleEdit()" class="material-icons icon-button icon-edit grid-button left">mode_edit</i>
      </div>
    </div>
  </div>
</div>
<div id="confirm-modal" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">exit_to_app</i>
        <h2>{{modal.confirm.title}}</h2>
      </div>
      <div class="modal-header text-center hide">
        <h2>{{modal.confirm.title}}</h2>
      </div>
      <div class="modal-footer text-center">
        <button type="button" data-dismiss="modal" class="ebutton white-button">{{modal.confirm.cancel}}</button>
        <button type="button" ng-click="modal.confirm.action.submit()" class="ebutton green-button">{{modal.confirm.submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-activity" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">assignment</i>
        <h2>{{modal['add-activity'].title}}</h2>
      </div>
      <div class="modal-header hide">
        <h2>Add Activity</h2>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button><span aria-hidden="true">×</span>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-activity'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['add-activity'].labels.loading}}</h5>
        </div>
        <ul ng-hide="modal['add-activity'].loading">
          <li>
            <label for="course">{{modal['add-activity'].labels.table.course}}</label>
            <select id="type" name="course" ng-model="modal.local.courseId" ng-options="course.id as course.title for course in modal['add-activity'].data.courses track by course.id" placeholder="Select course" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-activity'].labels.placeholders.selectCourse}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.course" class="error">{{modal.local.errors.course}}</li>
          <li>
            <label for="type">{{modal['add-activity'].labels.table.type}}</label>
            <select id="type" name="type" ng-model="modal.local.typeId" ng-options="type.id as type.name for type in modal['add-activity'].data.types track by type.id" placeholder="Select type" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-activity'].labels.placeholders.selectType}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.type" class="error">{{modal.local.errors.type}}</li>
          <li>
            <label for="name">{{modal['add-activity'].labels.table.name}}</label>
            <input name="name" type="input" ng-model="modal.local.name" placeholder="{{modal['add-activity'].labels.placeholders.enterNameOfActivity}}" required="required"/>
          </li>
          <li ng-if="modal.local.errors.name" class="error">{{modal.local.errors.name}}</li>
          <li>
            <label for="date">{{modal['add-activity'].labels.table.date}}</label>
            <input id="add-activity-datepicker" name="date" type="text" ng-model="modal.local.date" placeholder="{{modal['add-activity'].labels.placeholders.enterDateOfActivity}}" required="required"/>
          </li>
          <li ng-if="modal.local.errors.date" class="error">{{modal.local.errors.date}}</li>
        </ul>
      </div>
      <div ng-hide="modal['add-activity'].loading" class="modal-footer text-center">
        <button type="button" data-dismiss="modal" class="ebutton white-button">{{modal['add-activity'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-activity&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-activity'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-file" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon-titled">
        <section><i class="material-icons">file_upload</i>
          <h2>{{modal['add-file'].title}}</h2>
        </section>
        <section class="left-aligned">
          <h1>{{modal['add-file'].step.current+'. '+modal['add-file'].step.title}}</h1>
          <p ng-show="modal[&quot;add-file&quot;].step.details.length" ng-repeat="detail in modal['add-file'].step.details" ng-class="detail.class">{{detail.content}}</p>
        </section>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-file'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['add-file'].loadingMessage}}</h5>
        </div>
        <ul ng-hide="modal['add-file'].loading || modal['add-file'].step.current!==1">
          <li>
            <label for="course">Course</label>
            <select name="course" ng-model="modal.local.courseId" ng-change="modal[&quot;add-file&quot;].refreshActivities()" ng-disabled="modal.local.courseDisabled" ng-options="course as course.title for course in modal['add-file'].data.courses track by course.id" placeholder="Select course" required="required">
              <option selected="selected" disabled="disabled" value="">Select course</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.course" class="error">{{modal.local.errors.course}}</li>
          <li>
            <label for="activity">Activity</label>
            <select name="activity" ng-model="modal.local.activityId" ng-disabled="modal.local.activityDisabled" ng-options="activity as activity.name for activity in modal['add-file'].data.activities track by activity.id" placeholder="Select activity" required="required">
              <option selected="selected" disabled="disabled" value="">Select activity</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.activity" class="error">{{modal.local.errors.activity}}</li>
        </ul>
        <ul ng-hide="modal['add-file'].loading || modal['add-file'].step.current!==2">
          <li>
            <label for="file_name">File Name</label>
            <input name="file_name" type="input" ng-model="modal.local.fileName" placeholder="Enter file name" required="required" class="no-transform"/>
          </li>
          <li ng-if="modal.local.errors.fileName" class="error">{{modal.local.errors.fileName}}</li>
          <li>
            <label for="file">File</label>
            <input id="upload-file" name="file" type="file" ng-model="modal.local.file" placeholder="Choose File" required="required"/>
          </li>
          <li ng-if="modal.local.errors.file" class="error">{{modal.local.errors.file}}</li>
        </ul>
      </div>
      <div ng-hide="modal['add-file'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;add-file&quot;].action.cancel(modal.local)" class="ebutton white-button">{{modal['add-file'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-file&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-file'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-attendance" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <!--TODO Add steps to modals and make option to select multiple users to add attendance for them-->
    <div class="modal-content">
      <div class="modal-icon-titled">
        <section><i class="material-icons">event</i>
          <h2>{{modal['add-attendance'].title}}</h2>
        </section>
        <section class="left-aligned">
          <h1>{{modal['add-attendance'].step.current+'. '+modal['add-attendance'].step.title}}</h1>
          <p ng-show="modal[&quot;add-attendance&quot;].step.details.length" ng-repeat="detail in modal['add-attendance'].step.details" ng-class="detail.class">{{detail.content}}</p>
        </section>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-attendance'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['add-attendance'].loadingMessage}}</h5>
        </div>
        <ul ng-hide="modal['add-attendance'].loading || modal['add-attendance'].step.current!==1">
          <li>
            <label for="course">{{modal['add-attendance'].labels.table.course}}</label>
            <select name="course" ng-model="modal.local.courseId" ng-change="modal[&quot;add-attendance&quot;].refreshActivities()" ng-disabled="modal.local.courseDisabled" ng-options="course as course.title for course in modal['add-attendance'].data.courses track by course.id" placeholder="Select course" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-attendance'].labels.placeholders.selectCourse}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.course" class="error">{{modal.local.errors.course}}</li>
          <li>
            <label for="activity">{{modal['add-attendance'].labels.table.activity}}</label>
            <select name="activity" ng-model="modal.local.activityId" ng-disabled="modal.local.activityDisabled" ng-options="activity as activity.name for activity in modal['add-attendance'].data.activities track by activity.id" placeholder="Select activity" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-attendance'].labels.placeholders.selectActivity}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.activity" class="error">{{modal.local.errors.activity}}</li>
        </ul>
        <ul ng-hide="modal['add-attendance'].loading || modal['add-attendance'].step.current!==2">
          <li class="filters">
            <select name="group" ng-model="modal.local.groupId" ng-change="modal[&quot;add-attendance&quot;].filterStudents()" ng-options="group as group.name for group in modal['add-attendance'].data.groups track by group.id" placeholder="Select group" required="required" class="sm-select">
              <option selected="selected" value="">{{modal['add-attendance'].labels.table.allGroups}}</option>
            </select>
            <figure class="search-bar-wrapper">
              <div class="search-bar">
                <input id="search-bar-input" name="search" type="text" ng-model="modal['add-attendance'].search.value" placeholder="{{modal['add-attendance'].labels.table.search}}"/><i ng-click="modal['add-attendance'].search.clear()" ng-show="modal['add-attendance'].search.value" class="material-icons">close</i>
              </div><a ng-click="modal['add-attendance'].filterStudents()" class="search-button"><i class="material-icons">search</i></a>
            </figure>
            <li ng-if="modal.local.errors.student" class="error no-margin">{{modal.local.errors.student}}</li>
          </li>
        </ul>
      </div>
      <div ng-hide="modal['add-attendance'].loading || modal['add-attendance'].step.current!==2" class="table-wrapper modal-table">
        <table class="table elixir-table">
          <thead>
            <tr>
              <th class="td-fit">#</th>
              <th>Student</th>
              <th class="td-fit checker">{{modal['add-attendance'].labels.attended}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in modal.local.students track by $index" ng-show="student.visible" ng-click="modal['add-attendance'].toggleCheck($index)">
              <th scope="row" class="td-fit">{{student.index}}</th>
              <td class="td-bold">{{student.lastName+' '+student.firstName}}</td>
              <td ng-class="{'checked': student.checked}" class="td-fit checker"></td>
            </tr>
            <tr ng-if="!modal.local.students.length" class="disable-hover">
              <td colspan="6" class="td-disabled text-center">{{modal['add-attendance'].errors.noResults}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-hide="modal['add-attendance'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;add-attendance&quot;].action.cancel(modal.local)" class="ebutton white-button">{{modal['add-attendance'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-attendance&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-attendance'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-grade" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon-titled">
        <section><i class="material-icons">spellcheck</i>
          <h2>{{modal['add-grade'].title}}</h2>
        </section>
        <section class="left-aligned">
          <h1>{{modal['add-grade'].step.current+'. '+modal['add-grade'].step.title}}</h1>
          <p ng-show="modal[&quot;add-grade&quot;].step.details.length" ng-repeat="detail in modal['add-grade'].step.details" ng-class="detail.class">{{detail.content}}</p>
        </section>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-grade'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['add-grade'].loadingMessage}}</h5>
        </div>
        <ul ng-hide="modal['add-grade'].loading || modal['add-grade'].step.current!==1">
          <li>
            <label for="course">{{modal['add-grade'].labels.table.course}}</label>
            <select name="course" ng-model="modal.local.courseId" ng-change="modal[&quot;add-grade&quot;].refreshActivities()" ng-disabled="modal.local.courseDisabled" ng-options="course as course.title for course in modal['add-grade'].data.courses track by course.id" placeholder="Select course" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-grade'].labels.placeholders.selectCourse}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.course" class="error">{{modal.local.errors.course}}</li>
          <li>
            <label for="activity">{{modal['add-grade'].labels.table.activity}}</label>
            <select name="activity" ng-model="modal.local.activityId" ng-disabled="modal.local.activityDisabled" ng-options="activity as activity.name for activity in modal['add-grade'].data.activities track by activity.id" placeholder="Select activity" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-grade'].labels.placeholders.selectActivity}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.activity" class="error">{{modal.local.errors.activity}}</li>
        </ul>
        <ul ng-hide="modal['add-grade'].loading || modal['add-grade'].step.current!==2">
          <li class="filters">
            <select name="group" ng-model="modal.local.groupId" ng-change="modal[&quot;add-grade&quot;].filterStudents()" ng-options="group as group.name for group in modal['add-grade'].data.groups track by group.id" placeholder="Select group" required="required" class="sm-select">
              <option selected="selected" value="">{{modal['add-grade'].labels.table.allGroups}}</option>
            </select>
            <figure class="search-bar-wrapper">
              <div class="search-bar">
                <input id="search-bar-input" name="search" type="text" ng-model="modal['add-grade'].search.value" placeholder="Search"/><i ng-click="modal['add-grade'].search.clear()" ng-show="modal['add-grade'].search.value" class="material-icons">close</i>
              </div><a ng-click="modal['add-grade'].filterStudents()" class="search-button"><i class="material-icons">search</i></a>
            </figure>
            <li ng-if="modal.local.errors.student" class="error no-margin">{{modal.local.errors.student}}</li>
          </li>
        </ul>
      </div>
      <div ng-hide="modal['add-grade'].loading || modal['add-grade'].step.current!==2" class="table-wrapper modal-table">
        <table class="table elixir-table">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th>Student</th>
              <th class="col-sm-1 checker">{{modal['add-grade'].labels.marked}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in modal.local.students track by $index" ng-show="student.visible">
              <th scope="row" class="col-sm-1">{{student.index}}</th>
              <td class="td-bold">{{student.lastName+' '+student.firstName}}</td>
              <td ng-class="{'graded': student.grade !== null}" class="col-sm-1 grader">
                <input type="number" ng-model="student.grade"/>
              </td>
            </tr>
            <tr ng-if="!modal.local.students.length" class="disable-hover">
              <td colspan="6" class="td-disabled text-center">{{modal['add-grade'].labels.errors.noResults}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-hide="modal['add-grade'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;add-grade&quot;].action.cancel(modal.local)" class="ebutton white-button">{{modal['add-grade'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-grade&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-grade'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-course" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">school</i>
        <h2>{{modal['add-course'].title}}</h2>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-course'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>Adăugare curs</h5>
        </div>
        <ul ng-hide="modal['add-course'].loading">
          <li>
            <label for="title">Course</label>
            <input type="text" name="title" ng-model="modal.local.title" placeholder="Enter course title" required="required"/>
          </li>
          <li ng-if="modal.local.errors.title" class="error">{{modal.local.errors.title}}</li>
          <li>
            <label for="year">Year</label>
            <input type="number" min="0" name="year" ng-model="modal.local.year" placeholder="Enter course year" required="required"/>
          </li>
          <li ng-if="modal.local.errors.year" class="error">{{modal.local.errors.year}}</li>
          <li>
            <label for="semester">Semester</label>
            <button type="button" ng-click="modal.local.semester=1" ng-class="{&quot;checked&quot;: modal.local.semester===1}" class="ebutton radio-button">Semester 1</button>
            <button type="button" ng-click="modal.local.semester=2" ng-class="{&quot;checked&quot;: modal.local.semester===2}" class="ebutton radio-button">Semester 2</button>
          </li>
          <li ng-if="modal.local.errors.semester" class="error">{{modal.local.errors.semester}}</li>
        </ul>
      </div>
      <div ng-hide="modal['add-course'].loading" class="modal-footer text-center">
        <button type="button" data-dismiss="modal" class="ebutton white-button">{{modal['add-course'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-course&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-course'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-course-lecturer" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">school</i>
        <h2>{{modal['add-course-lecturer'].title}}</h2>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-course-lecturer'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>Adăugare curs</h5>
        </div>
        <ul ng-hide="modal['add-course-lecturer'].loading">
          <li>
            <label for="course">Course</label>
            <select name="course" ng-model="modal.local.courseId" ng-options="course as course.title for course in modal['add-course-lecturer'].data.courses track by course.id">
              <option selected="selected" disabled="disabled" value="">Select course</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.course" class="error">{{modal.local.errors.course}}</li>
          <li>
            <label for="lecturer">Lecturer</label>
            <select name="lecturer" ng-model="modal.local.lecturer" ng-options="lecturer as lecturer.fullName for lecturer in modal['add-course-lecturer'].data.lecturers | filter:modal['add-course-lecturer'].filterLecturers">
              <option selected="selected" disabled="disabled" value="">Select lecturer</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.lecturer" class="error">{{modal.local.errors.lecturer}}</li>
        </ul>
      </div>
      <div ng-hide="modal['add-course-lecturer'].loading" class="modal-footer text-center">
        <button type="button" data-dismiss="modal" class="ebutton white-button">{{modal['add-course-lecturer'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-course-lecturer&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-course-lecturer'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-course-students" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <!--TODO Add steps to modals and make option to select multiple users to add attendance for them-->
    <div class="modal-content">
      <div class="modal-icon-titled">
        <section><i class="material-icons">event</i>
          <h2>{{modal['add-course-students'].title}}</h2>
        </section>
        <section class="left-aligned">
          <h1>{{modal['add-course-students'].step.current+'. '+modal['add-course-students'].step.title}}</h1>
          <p ng-show="modal[&quot;add-course-students&quot;].step.details.length" ng-repeat="detail in modal['add-course-students'].step.details" ng-class="detail.class">{{detail.content}}</p>
        </section>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-course-students'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['add-course-students'].loadingMessage}}</h5>
        </div>
        <ul ng-hide="modal['add-course-students'].loading || modal['add-course-students'].step.current!==1">
          <li>
            <label for="course">{{modal['add-course-students'].labels.table.course}}</label>
            <select name="course" ng-model="modal.local.courseId" ng-change="modal[&quot;add-course-students&quot;].refreshActivities()" ng-disabled="modal.local.courseDisabled" ng-options="course as course.title for course in modal['add-course-students'].data.courses track by course.id" placeholder="Select course" required="required">
              <option selected="selected" disabled="disabled" value="">{{modal['add-course-students'].labels.placeholders.selectCourse}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.course" class="error">{{modal.local.errors.course}}</li>
        </ul>
        <ul ng-hide="modal['add-course-students'].loading || modal['add-course-students'].step.current!==2">
          <li class="filters">
            <select name="group" ng-model="modal.local.groupId" ng-change="modal[&quot;add-course-students&quot;].filterStudents()" ng-options="group as group.name for group in modal['add-course-students'].data.groups track by group.id" placeholder="Select group" required="required" class="sm-select">
              <option selected="selected" value="">{{modal['add-course-students'].labels.table.allGroups}}</option>
            </select>
            <figure class="search-bar-wrapper">
              <div class="search-bar">
                <input id="search-bar-input" name="search" type="text" ng-model="modal['add-course-students'].search.value" placeholder="{{modal['add-course-students'].labels.table.search}}"/><i ng-click="modal['add-course-students'].search.clear()" ng-show="modal['add-course-students'].search.value" class="material-icons">close</i>
              </div><a ng-click="modal['add-course-students'].filterStudents()" class="search-button"><i class="material-icons">search</i></a>
            </figure>
            <li ng-if="modal.local.errors.student" class="error no-margin">{{modal.local.errors.student}}</li>
          </li>
        </ul>
      </div>
      <div ng-hide="modal['add-course-students'].loading || modal['add-course-students'].step.current!==2" class="table-wrapper modal-table">
        <table class="table elixir-table">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th>Student</th>
              <th class="col-sm-1 checker">{{modal['add-course-students'].labels.add}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in modal.local.students track by $index" ng-show="student.visible" ng-click="modal['add-course-students'].toggleCheck($index)">
              <th scope="row" class="col-sm-1">{{student.index}}</th>
              <td class="td-bold">{{student.lastName+' '+student.firstName}}</td>
              <td ng-class="{'checked': student.checked}" class="col-sm-1 checker"></td>
            </tr>
            <tr ng-if="!modal.local.students.length" class="disable-hover">
              <td colspan="6" class="td-disabled text-center">{{modal['add-course-students'].errors.noResults}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-hide="modal['add-course-students'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;add-course-students&quot;].action.cancel(modal.local)" class="ebutton white-button">{{modal['add-course-students'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-course-students&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-course-students'].submit}}</button>
      </div>
    </div>
  </div>
</div>
<div id="add-user" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon-titled">
        <section><i class="material-icons">person_add</i>
          <h2>{{modal['add-user'].title}}</h2>
        </section>
        <section class="left-aligned">
          <h1>{{modal['add-user'].step.current+'. '+modal['add-user'].step.title}}</h1>
          <p ng-show="modal[&quot;add-user&quot;].step.details.length" ng-repeat="detail in modal['add-user'].step.details" ng-class="detail.class">{{detail.content}}</p>
        </section>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-user'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['add-user'].labels.loading}}</h5>
        </div>
        <ul ng-hide="modal['add-user'].loading || modal['add-user'].step.current!==1">
          <li>
            <label for="type">{{modal['add-attendance'].labels.table.type}}</label>
            <select id="type" name="type" ng-model="modal.local.type" placeholder="Select type">
              <option selected="selected" disabled="disabled" value="">{{modal['add-user'].labels.placeholders.selectUserType}}</option>
              <option value="student">{{modal['add-user'].labels.table.student}}</option>
              <option value="lecturer">{{modal['add-user'].labels.table.lecturer}}</option>
              <option value="admin">{{modal['add-user'].labels.table.admin}}</option>
            </select>
          </li>
          <li ng-if="modal.local.errors.type" class="error">{{modal.local.errors.type}}</li>
          <li>
            <label for="first_name">{{modal['add-attendance'].labels.table.firstName}}</label>
            <input id="first_name" type="input" ng-model="modal.local.firstName" placeholder="Enter first name"/>
          </li>
          <li ng-if="modal.local.errors.firstName" class="error">{{modal.local.errors.firstName}}</li>
          <li>
            <label for="last_name">{{modal['add-attendance'].labels.table.lastName}}</label>
            <input id="last_name" type="input" ng-model="modal.local.lastName" placeholder="Enter last name"/>
          </li>
          <li ng-if="modal.local.errors.lastName" class="error">{{modal.local.errors.lastName}}</li>
        </ul>
        <ul ng-hide="modal['add-user'].loading || modal['add-user'].step.current!==2">
          <li>
            <label for="email">{{modal['add-attendance'].labels.table.email}}</label>
            <input id="email" type="input" ng-model="modal.local.email" placeholder="Enter email"/>
          </li>
          <li ng-if="modal.local.errors.email" class="error">{{modal.local.errors.email}}</li>
          <li>
            <label for="password">{{modal['add-attendance'].labels.table.password}}</label>
            <input id="password" type="password" ng-model="modal.local.password" placeholder="Enter password"/>
          </li>
          <li ng-if="modal.local.errors.password" class="error">{{modal.local.errors.password}}</li>
          <li>
            <label for="rpassword">{{modal['add-attendance'].labels.table.rpassword}}</label>
            <input id="rpassword" type="password" ng-model="modal.local.rpassword" placeholder="Confirm password"/>
          </li>
          <li ng-if="modal.local.errors.rpassword" class="error">{{modal.local.errors.rpassword}}</li>
        </ul>
      </div>
      <div ng-hide="modal['add-user'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;add-user&quot;].action.cancel(modal.local)" class="ebutton white-button">{{modal['add-user'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-user&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-user'].submit}}</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->
<div id="import" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">file_upload</i>
        <h2>{{modal['import'].title}}</h2>
      </div>
      <div class="modal-body">
        <div ng-show="modal['import'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>{{modal['import'].loadingMessage}}</h5>
        </div>
        <p ng-hide="modal['import'].loading"><span class="tag tag-student">CSV</span>{{modal['import'].description}}</p>
        <ul ng-hide="modal['import'].loading">
          <li>
            <label for="file">{{modal['import'].labels.table.file}}</label>
            <input id="import-file" name="file" type="file" ng-model="modal.local.file" placeholder="Choose File" required="required"/>
          </li>
          <li ng-if="modal.local.errors.file" class="error">{{modal.local.errors.file}}</li>
          <li ng-if="modal.local.errors.submit" class="error">{{modal.local.errors.submit}}</li>
        </ul>
      </div>
      <div ng-hide="modal['import'].loading" class="modal-footer text-center">
        <button type="button" ng-click="modal[&quot;import&quot;].action.cancel(modal.local)" class="ebutton white-button">{{modal['import'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;import&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['import'].submit}}</button>
      </div>
    </div>
  </div>
</div>