
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12"><span class="td-subtitle">Year {{course.year}} / Semester {{course.semester}}</span>
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
  <div class="row container-title-nav">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <ul class="tabs-wrapper">
          <li ui-sref="base.courses.view({detail: null})" ng-class="{active: course.detail==&quot;overview&quot;}">Overview</li>
          <li ui-sref="base.courses.view({detail: &quot;lecturers&quot;})" ng-class="{active: course.detail==&quot;lecturers&quot;}">Lecturers</li>
          <li ui-sref="base.courses.view({detail: &quot;students&quot;})" ng-class="{active: course.detail==&quot;students&quot;}" ng-if="authUser.type!='student'">Students</li>
          <li ui-sref="base.courses.view({detail: &quot;activities&quot;})" ng-class="{active: course.detail==&quot;activities&quot;}" ng-if="authUser.type!='student'">Activities</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--TODO hide the students/activities for student account-->
<section class="container-content">
  <div ng-if="course.detail=='overview'" class="row">
    <div class="col-md-12 coverbox-wrapper">
      <div ui-sref="base.courses.view({detail: &quot;lecturers&quot;})" class="coverbox">
        <h2>{{course.lecturers.length}}</h2>
        <h3>Lecturers</h3>
      </div>
      <div ui-sref="base.courses.view({detail: &quot;students&quot;})" ng-if="authUser.type!='student'" class="coverbox">
        <h2>{{course.students.length}}</h2>
        <h3>Students</h3>
      </div>
      <div ui-sref="base.courses.view({detail: &quot;activities&quot;})" ng-if="authUser.type!='student'" class="coverbox">
        <h2>{{course.activities.length}}</h2>
        <h3>Activities</h3>
      </div>
    </div>
  </div>
  <div ng-if="course.detail!='overview'" class="row">
    <div ng-if="course.hasLecturers || course.hasStudents" class="col-wrapper col-md-12">
      <!-- Lecturers-->
      <div ng-if="course.hasLecturers" class="col-md-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
            <figure class="search-bar-wrapper">
              <div class="search-bar">
                <input id="search-bar-input" name="search" type="text" ng-model="search.value" placeholder="Search"/><i ng-click="search.clear()" ng-show="search.value" class="material-icons">close</i>
              </div><a ng-click="search.go()" class="search-button"><i class="material-icons">search</i></a>
            </figure>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in course.lecturers track by $index" ui-sref="base.users.view({type: 'lecturers', id: user.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td>{{user.firstName}}</td>
                <td class="td-bold">{{user.lastName}}</td>
                <td class="td-blue">{{user.email}}</td>
              </tr>
              <tr ng-if="!course.lecturers.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Student-->
      <div ng-if="course.hasStudents &amp;&amp; authUser.type!='student'" class="col-md-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
            <figure class="search-bar-wrapper">
              <div class="search-bar">
                <input id="search-bar-input" name="search" type="text" ng-model="search.value" placeholder="Search"/><i ng-click="search.clear()" ng-show="search.value" class="material-icons">close</i>
              </div><a ng-click="search.go()" class="search-button"><i class="material-icons">search</i></a>
            </figure>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in course.students track by $index" ui-sref="base.users.view({type: 'students', id: user.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td>{{user.firstName}}</td>
                <td class="td-bold">{{user.lastName}}</td>
                <td class="td-blue">{{user.email}}</td>
              </tr>
              <tr ng-if="!course.students.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-if="course.hasActivities" class="col-wrapper col-md-12">
      <!-- Activities-->
      <div ng-if="course.hasActivities &amp;&amp; authUser.type!='student'" class="col-md-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
            <figure class="search-bar-wrapper">
              <div class="search-bar">
                <input id="search-bar-input" name="search" type="text" ng-model="search.value" placeholder="Search"/><i ng-click="search.clear()" ng-show="search.value" class="material-icons">close</i>
              </div><a ng-click="search.go()" class="search-button"><i class="material-icons">search</i></a>
            </figure>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Name</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="activity in course.activities track by $index" ui-sref="base.activities.view({type: course.activity.role+&quot;s&quot;, activity_id: course.activity.activity.id, user_id: course.activity.user.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td><span ng-class="activity.tag" class="tag">{{activity.type.name}}</span></td>
                <td>{{activity.name}}</td>
                <td class="td-blue">{{activity.date}}</td>
              </tr>
              <tr ng-if="!course.activities.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>