
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12"><span class="td-subtitle">{{labels.table.year}} {{course.year}} / {{labels.table.semester}} {{course.semester}}</span>
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
  <div class="row container-title-nav">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <ul class="tabs-wrapper">
          <li ui-sref="base.courses.view({detail: null})" ng-class="{active: course.detail==&quot;overview&quot;}">{{labels.table.overview}}</li>
          <li ui-sref="base.courses.view({detail: &quot;lecturers&quot;, page: 0})" ng-class="{active: course.detail==&quot;lecturers&quot;}">{{labels.table.lecturers}}</li>
          <li ui-sref="base.courses.view({detail: &quot;students&quot;, page: 0})" ng-class="{active: course.detail==&quot;students&quot;}" ng-if="authUser.type!='student'">{{labels.table.students}}</li>
          <li ui-sref="base.courses.view({detail: &quot;activities&quot;, page: 0})" ng-class="{active: course.detail==&quot;activities&quot;}" ng-if="authUser.type!='student'">{{labels.table.activities}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container-content">
  <div ng-if="course.detail=='overview'" class="row">
    <div class="col-md-12 coverbox-wrapper">
      <div ui-sref="base.courses.view({detail: &quot;lecturers&quot;})" class="coverbox">
        <h2>{{course.lecturers.length}}</h2>
        <h3>{{labels.table.lecturers}}</h3>
      </div>
      <div ui-sref="base.courses.view({detail: &quot;students&quot;})" ng-if="authUser.type!='student'" class="coverbox">
        <h2>{{course.students.length}}</h2>
        <h3>{{labels.table.students}}</h3>
      </div>
      <div ui-sref="base.courses.view({detail: &quot;activities&quot;})" ng-if="authUser.type!='student'" class="coverbox">
        <h2>{{course.activities.length}}</h2>
        <h3>{{labels.table.activities}}</h3>
      </div>
    </div>
  </div>
  <div ng-if="course.detail!='overview'" class="row">
    <div ng-if="course.hasLecturers || course.hasStudents" class="col-wrapper col-md-12">
      <!-- Lecturers-->
      <div ng-if="course.hasLecturers" class="col-md-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div ng-show="pager.totalPages&gt;0" class="pagination-wrapper">
              <h4>{{language == 'en' ? 'Page' : 'Pagina'}}</h4><span ng-click="firstPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.firstPage}" class="control-arrow"><i class="material-icons">first_page</i></span><span ng-click="previousPage()" ng-class="{'disabled': !pager.hasPreviousPage}" class="control-arrow"><i class="material-icons">chevron_left</i></span>
              <div class="pagination">
                <ul class="pagination-list">
                  <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="selectPage($index)">{{$index+1}}</li>
                </ul>
              </div><span ng-click="nextPage()" ng-class="{'disabled': !pager.hasNextPage}" class="control-arrow"><i class="material-icons">chevron_right</i></span><span ng-click="lastPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.lastPage}" class="control-arrow"><i class="material-icons">last_page</i></span>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{labels.table.firstName}}</th>
                <th>{{labels.table.lastName}}</th>
                <th>{{labels.table.email}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in course.lecturers track by $index" ui-sref="base.users.view({type: 'lecturers', id: user.id})">
                <th scope="row" class="col-sm-1">{{pager.defaultPageSize*pager.currentPage+$index+1}}</th>
                <td>{{user.firstName}}</td>
                <td class="td-bold">{{user.lastName}}</td>
                <td class="td-blue">{{user.email}}</td>
              </tr>
              <tr ng-if="!course.lecturers.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">{{labels.errors.noResults}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Student-->
      <div ng-if="course.hasStudents &amp;&amp; authUser.type!='student'" class="col-md-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div ng-show="pager.totalPages&gt;0" class="pagination-wrapper">
              <h4>{{language == 'en' ? 'Page' : 'Pagina'}}</h4><span ng-click="firstPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.firstPage}" class="control-arrow"><i class="material-icons">first_page</i></span><span ng-click="previousPage()" ng-class="{'disabled': !pager.hasPreviousPage}" class="control-arrow"><i class="material-icons">chevron_left</i></span>
              <div class="pagination">
                <ul class="pagination-list">
                  <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="selectPage($index)">{{$index+1}}</li>
                </ul>
              </div><span ng-click="nextPage()" ng-class="{'disabled': !pager.hasNextPage}" class="control-arrow"><i class="material-icons">chevron_right</i></span><span ng-click="lastPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.lastPage}" class="control-arrow"><i class="material-icons">last_page</i></span>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{labels.table.firstName}}</th>
                <th>{{labels.table.lastName}}</th>
                <th>{{labels.table.email}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in course.students track by $index" ui-sref="base.users.view({type: 'students', id: user.id})">
                <th scope="row" class="col-sm-1">{{pager.defaultPageSize*pager.currentPage+$index+1}}</th>
                <td>{{user.firstName}}</td>
                <td class="td-bold">{{user.lastName}}</td>
                <td class="td-blue">{{user.email}}</td>
              </tr>
              <tr ng-if="!course.students.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">{{labels.errors.noResults}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-if="course.hasActivities" class="col-wrapper col-md-12">
      <!-- Activities-->
      <div ng-if="course.hasActivities &amp;&amp; authUser.type!='student'" class="col-md-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div ng-show="pager.totalPages&gt;0" class="pagination-wrapper">
              <h4>{{language == 'en' ? 'Page' : 'Pagina'}}</h4><span ng-click="firstPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.firstPage}" class="control-arrow"><i class="material-icons">first_page</i></span><span ng-click="previousPage()" ng-class="{'disabled': !pager.hasPreviousPage}" class="control-arrow"><i class="material-icons">chevron_left</i></span>
              <div class="pagination">
                <ul class="pagination-list">
                  <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="selectPage($index)">{{$index+1}}</li>
                </ul>
              </div><span ng-click="nextPage()" ng-class="{'disabled': !pager.hasNextPage}" class="control-arrow"><i class="material-icons">chevron_right</i></span><span ng-click="lastPage()" ng-show="pager.totalPages&gt;10" ng-class="{'disabled': pager.lastPage}" class="control-arrow"><i class="material-icons">last_page</i></span>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{labels.table.type}}</th>
                <th>{{labels.table.name}}</th>
                <th>{{labels.table.date}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="activity in course.activities track by $index" ui-sref="base.activities.list({activity_id: activity.id, course_id: course.id})">
                <th scope="row" class="col-sm-1">{{pager.defaultPageSize*pager.currentPage+$index+1}}</th>
                <td><span ng-class="activity.tag" class="tag">{{activity.type.name}}</span></td>
                <td>{{activity.name}}</td>
                <td class="td-blue">{{activity.date}}</td>
              </tr>
              <tr ng-if="!course.activities.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">{{labels.errors.noResults}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>