
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12"><span class="td-subtitle">{{labels.table.year}} {{group.year}} ( {{group.students.length}} {{labels.table.students}} )</span>
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
      </div>
    </div>
  </div>
</section>
<section class="container-content">
  <!-- Header-->
  <div class="row">
    <div class="col-md-6">
      <div class="table-wrapper">
        <div class="table-title">{{labels.table.students}}</div>
        <table class="table elixir-table">
          <thead>
            <tr>
              <th>#</th>
              <th>{{labels.table.firstName}}</th>
              <th>{{labels.table.lastName}}</th>
              <th>{{labels.table.email}}</th>
              <th>{{labels.table.actions}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in group.students track by $index" ui-sref="base.users.view({type: 'students', id: user.id})">
              <th scope="row" class="col-sm-1">{{$index+1}}</th>
              <td>{{user.firstName}}</td>
              <td class="td-bold">{{user.lastName}}</td>
              <td class="td-blue">{{user.email}}</td>
              <td><i aria-hidden="true" class="fa fa-times"></i></td>
            </tr>
            <tr ng-if="!group.students.length" class="disable-hover">
              <td colspan="6" class="td-disabled text-center">{{labels.errors.noResults}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>