
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <h2>{{title}}</h2>
        <button data-toggle="modal" data-target="#add-user-modal" class="ebutton green-button">Add Group</button>
      </div>
    </div>
  </div>
</section>
<section class="container-content">
  <!-- Define scope title to be used by the header-->
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper">
        <table class="table elixir-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Year</th>
              <th>Students</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="group in groups track by $index" ui-sref="groups.view({id: group.id})">
              <th scope="row" class="col-sm-1">{{$index+1}}</th>
              <td class="td-bold">{{group.name}}</td>
              <td class="td-bold">{{group.year}}</td>
              <td class="td-blue">{{group.students.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>