
<div ui-view=""></div>
<section class="login-wrapper">
  <section class="col-lg-4 col-md-7 col-sm-9 col-xs-12 university-wrapper hide">
    <figure class="university-logo"></figure>
  </section>
  <section ng-class="{'loading-state': form.loading}" class="login-box col-lg-4 col-md-7 col-sm-9 col-xs-12">
    <section class="left-box">
      <figure class="logo"></figure>
      <h2>Elixir</h2>
      <h3>Management</h3>
    </section>
    <section class="right-box">
      <div ng-show="form.loading" class="preloader-wrapper">
        <figure class="preloader"></figure>
        <h4>Autentificare</h4>
      </div>
      <form ng-submit="form.submit()" ng-hide="form.loading" class="eform">
        <section class="eform-group">
          <label ng-repeat="error in form.errors" class="error">{{error}}</label>
        </section>
        <section class="eform-group">
          <label for="email" class="elabel">Email</label>
          <input ng-model="form.email" type="email" name="email" placeholder="Enter email" required="required" class="einput"/>
        </section>
        <section class="eform-group">
          <label for="password" class="elabel">Password</label>
          <input ng-model="form.password" type="password" name="password" placeholder="Enter password" required="required" class="einput"/>
        </section>
        <button type="submit" class="ebutton login-button">Login</button>
      </form>
    </section>
  </section>
  <section class="col-lg-4 col-md-7 col-sm-9 col-xs-12 university-wrapper">
    <p>Proiect realizat pentru Facultatea de Informatica, Iasi  </p>
  </section>
</section>
<section class="notifications-wrapper">
  <div ng-repeat="notification in notifications.active track by $index" ng-class="notification.type" class="notification"><i ng-click="notifications.dismiss($index)" class="material-icons">close</i>
    <h2>{{notification.title}}</h2>
    <p>{{notification.content}}</p><a ng-href="{{notification.link.href}}" ng-if="notification.link">{{notification.link.text}}</a>
  </div>
</section>