
<section class="container-title">
  <!-- Header-->
  <div class="row">
    <div class="col-md-12"><span class="td-subtitle">{{user.email}}</span>
      <div class="page-title-wrapper">
        <div class="title-section">
          <h2>{{title}}</h2><span ng-class="user.tag.class" class="tag tag-auto">{{user.tag.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-title-nav">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <ul class="tabs-wrapper">
          <li ui-sref="base.users.view({detail: null})" ng-class="{active: user.detail==&quot;overview&quot;}">Overview</li>
          <li ui-sref="base.users.view({detail: &quot;attendances&quot;, page: 0})" ng-class="{active: user.detail==&quot;attendances&quot;}" ng-if="user.type==&quot;students&quot;">Attendances</li>
          <li ui-sref="base.users.view({detail: &quot;grades&quot;, page: 0})" ng-class="{active: user.detail==&quot;grades&quot;}" ng-if="user.type==&quot;students&quot;">Grades</li>
          <li ui-sref="base.users.view({detail: &quot;files&quot;, page: 0})" ng-class="{active: user.detail==&quot;files&quot;}" ng-if="user.type==&quot;students&quot;">Files</li>
          <li ui-sref="base.users.view({detail: &quot;groups&quot;, page: 0})" ng-class="{active: user.detail==&quot;groups&quot;}" ng-if="user.type==&quot;students&quot;">Groups</li>
          <li ui-sref="base.users.view({detail: &quot;courses&quot;, page: 0})" ng-class="{active: user.detail==&quot;courses&quot;}" ng-if="user.type==&quot;students&quot; || user.type==&quot;lecturers&quot;">Courses</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container-content">
  <div ng-if="user.detail==&quot;overview&quot;" class="row">
    <div class="col-md-12 coverbox-wrapper">
      <div ng-if="user.hasAttendances" ui-sref="base.users.view({detail: &quot;attendances&quot;})" class="coverbox">
        <h2>{{user.attendances.length}}</h2>
        <h3>Attendances</h3>
      </div>
      <div ng-if="user.hasGrades" ui-sref="base.users.view({detail: &quot;grades&quot;})" class="coverbox">
        <h2>{{user.grades.length}}</h2>
        <h3>Grades</h3>
      </div>
      <div ng-if="user.hasFiles" ui-sref="base.users.view({detail: &quot;files&quot;})" class="coverbox">
        <h2>{{user.files.length}}</h2>
        <h3>Files</h3>
      </div>
      <div ng-if="user.hasGroups" ui-sref="base.users.view({detail: &quot;groups&quot;})" class="coverbox">
        <h2>{{user.groups.length}}</h2>
        <h3>Groups</h3>
      </div>
      <div ng-if="user.hasCourses" ui-sref="base.users.view({detail: &quot;courses&quot;})" class="coverbox">
        <h2>{{user.courses.length}}</h2>
        <h3>Courses</h3>
      </div>
    </div>
  </div>
  <div ng-if="user.detail!=&quot;overview&quot;" class="row">
    <div ng-if="user.hasAttendances || user.hasGrades || user.hasFiles" ng-class="{'col-lg-12': user.detail!='overview', 'col-lg-6': user.detail=='overview'}" class="col-wrapper col-md-12">
      <!-- Files-->
      <div ng-if="user.hasFiles" class="col-md-12 col-sm-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <h4>Page</h4>
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>File</th>
                <th class="hidden-xs">Name</th>
                <th>Type</th>
                <th class="hidden-xs">Date</th>
                <th>Course</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="file in user.files track by $index" ui-sref="base.activities.view({type: &quot;files&quot;, activity_id: file.activity.id, user_id: file.student.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td class="td-bold td-blue">{{file.fileName+'.'+file.extension}}</td>
                <td class="hidden-xs td-bold">{{file.activity.name}}</td>
                <td><span ng-class="activity.tag" ng-attr-title="{{grade.activity.type.name}}" class="tag tag-auto">{{file.activity.type.name}}</span></td>
                <td class="hidden-xs td-blue">{{file.activity.date}}</td>
                <td class="td-bold">{{file.activity.course.title}}</td>
              </tr>
              <tr ng-if="!user.files.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Attendances-->
      <div ng-if="user.hasAttendances" class="col-md-12 col-sm-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <h4>Page</h4>
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th class="hidden-xs">Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Course</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="attendance in user.attendances track by $index" ui-sref="base.activities.view({type: &quot;attendances&quot;, activity_id: attendance.activity.id, user_id: attendance.student.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td class="hidden-xs td-bold">{{attendance.activity.name}}</td>
                <td><span ng-class="activity.tag" ng-attr-title="{{attendance.activity.type.name}}" class="tag tag-auto">{{attendance.activity.type.name}}</span></td>
                <td class="td-blue">{{attendance.activity.date}}</td>
                <td class="td-bold">{{attendance.activity.course.title}}</td>
              </tr>
              <tr ng-if="!user.attendances.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Grades-->
      <div ng-if="user.hasGrades" class="col-md-12 col-sm-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <h4>Page</h4>
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Value</th>
                <th class="hidden-xs">Name</th>
                <th>Type</th>
                <th class="hidden-xs">Date</th>
                <th>Course</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="grade in user.grades track by $index" ui-sref="base.activities.view({type: &quot;grades&quot;, activity_id: grade.activity.id, user_id: grade.student.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td class="td-bold td-lg td-blue"><span class="tag tag-auto tag-grade">{{grade.value}}</span></td>
                <td class="hidden-xs td-bold">{{grade.activity.name}}</td>
                <td><span ng-class="activity.tag" ng-attr-title="{{grade.activity.type.name}}" class="tag tag-auto">{{grade.activity.type.name}}</span></td>
                <td class="hidden-xs td-blue">{{grade.activity.date}}</td>
                <td class="td-bold">{{grade.activity.course.title}}</td>
              </tr>
              <tr ng-if="!user.grades.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-if="user.hasGroups || user.hasCourses" ng-class="{'col-lg-12': user.detail!='overview', 'col-lg-6': user.detail=='overview'}" class="col-wrapper col-md-12">
      <!-- Groups-->
      <div ng-if="user.hasGroups" class="col-md-12 col-sm-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <h4>Page</h4>
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Year</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="group in user.groups track by $index" ui-sref="base.groups.view({id: group.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td class="td-bold">{{group.name}}</td>
                <td class="td-bold">{{group.year}}</td>
              </tr>
              <tr ng-if="!user.groups.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Courses-->
      <div ng-if="user.hasCourses" class="col-md-12 col-sm-12">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="pagination-wrapper">
              <h4>Page</h4>
              <ul class="pagination">
                <li ng-repeat="page in pager.pages track by $index" ng-class="{active: $index==pager.currentPage}" ng-click="pager.getPage($index)">{{$index+1}}</li>
              </ul>
            </div>
          </div>
          <table class="table elixir-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Year</th>
                <th>Semester</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="course in user.courses track by $index" ui-sref="base.courses.view({id: course.id})">
                <th scope="row" class="col-sm-1">{{$index+1}}</th>
                <td class="td-bold">{{course.title}}</td>
                <td class="td-bold">{{course.year}}</td>
                <td class="td-bold">{{course.semester}}</td>
              </tr>
              <tr ng-if="!user.courses.length" class="disable-hover">
                <td colspan="6" class="td-disabled text-center">No results have been found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Modals-->
<div id="add-group-modal" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add Group</h2>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            <p>Select in which group to enroll this student</p>
          </li>
          <li>
            <select id="group" name="group" ng-model="modal.user.group" ng-options="group as group.name for group in modal.groups track by group.id" placeholder="Select Group">
              <option value="" selected="" disabled="">Select Group</option>
            </select>
          </li>
          <li ng-if="modal.user.errors.group" class="error">{{modal.user.errors.group}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="ebutton white-button">Close</button>
        <button type="button" ng-click="modal.submit()" class="ebutton green-button">Add Group</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->