section.content-container
  // Define scope title to be used by the header
  .row
    .col-md-12
      .page-title-wrapper
        h2 {{title}}
        button.ebutton.green-button(data-toggle='modal', data-target='#add-user-modal') Add Activity
  .row
    .col-md-12
      .table-wrapper
        table.table.elixir-table
          thead
            tr
              th #
              th Type
              th Role
              th Name
              th User
              th Course
              th Date
          tbody
            tr(ng-repeat='activity in activities track by $index', ui-sref='activities.view({type: activity.role+"s", activity_id: activity.activity.id, user_id: activity.user.id})')
              th.col-sm-1(scope='row') {{$index+1}}
              td
                span.tag(ng-class='activity.tag') {{activity.activity.type.name}}
              td
                span.tag(ng-class='activity.roleTag') {{activity.role}}
              td {{activity.activity.name}}
              td.td-bold {{activity.user.firstName + ' ' + activity.user.lastName}}
              td.td-blue {{activity.activity.course.title}}
              td.td-blue {{activity.activity.date}}
