// Common elements
section.main-container
  // Sidebar
  section.sidebar-wrapper
    .sidebar-logo
      figure.logo
    // Navigation
    span.tag.tag-full.tag-lg(ng-class='authUser.class') {{authUser.type}}
    nav.sidebar-links
      ul
        label {{menuLabels.overview}}
        li(ng-if="isAuthorized(authorizedRoles.dashboard.view)")
          a(ui-sref='base.dashboard', ui-sref-active='active')
            i.material-icons dashboard
            span {{menuLabels.dashboard}}
        li(ng-if="isAuthorized(authorizedRoles.activities.list)")
          a(ui-sref='base.activities.list({type: null, course_id: null, activity_id: null})', ng-class="{active:$state.includes('base.activities')}")
            i.material-icons assignment
            span {{menuLabels.activities}}
        li(ng-if="isAuthorized(authorizedRoles.reports)")
          a(ui-sref='base.reports', ui-sref-active='active')
            i.material-icons sort
            span {{menuLabels.reports}}
        label {{menuLabels.management}}
        li(ng-if="isAuthorized(authorizedRoles.courses.list)")
          a(ui-sref='base.courses.list', ng-class="{active:$state.includes('base.courses')}")
            i.material-icons school
            span {{menuLabels.courses}}
        li(ng-if="isAuthorized(authorizedRoles.groups.list)")
          a(ui-sref='base.groups.list', ng-class="{active:$state.includes('base.groups')}")
            i.material-icons library_books
            span {{menuLabels.groups}}
        li(ng-if="isAuthorized(authorizedRoles.users.list)")
          a(ui-sref='base.users.list({type: null})', ng-class="{active: $state.includes('base.users')}")
            i.material-icons people
            span {{menuLabels.users}}
        li(ng-if="isAuthorized(authorizedRoles.import)")
          a(ui-sref='base.import', ui-sref-active='active')
            i.material-icons import_export
            span {{menuLabels.import}}
        label {{menuLabels.account}}
        li.hide(ng-if="isAuthorized(authorizedRoles.myAccount)")
          a(ui-sref='base.users.view({type: authUser.type, id: authUser.id, detail: null})', ui-sref-active='active')
            i.material-icons person
            span My Account
        li(ng-if="isAuthorized(authorizedRoles.settings)")
          a(ui-sref='base.settings', ui-sref-active='active')
            i.material-icons settings
            span {{menuLabels.settings}}
        li
          a(ng-click="modal.confirm.this(logout, 'logout')")
            i.material-icons exit_to_app
            span {{menuLabels.logout}}
  // Content
  section.body-container
    section.container-header
      figure.menu-toggle(ng-click="toggleMenu()")
        i.material-icons menu
      ul.breadcrumbs-list
        li(ng-repeat='path in paths')
          a(ng-href="{{getPath(path.state, path.params)}}")
            i.material-icons(ng-if='path.icon') {{path.icon}}
            span(ng-if='path.title') {{path.title}}
          i.material-icons.breadcrumb-separator(ng-show='icons.showMaterial') chevron_right
      ul.right-list
        li.hide
          a(href="")
            i.material-icons notifications
            span Notifications
        li.hide
          figure.search-bar-wrapper
            input.search-bar(name="search" type="text" placeholder="Search")
            i.material-icons search
        li
          a(ui-sref='base.users.view({type: authUser.group, id: authUser.id, detail: null})')
            i.material-icons person
            span.no-transform {{authUser.email}}
    section.container-wrapper(ng-class="{loading: loading}")
      div(ui-view='')
      include elements/notifications

//- Modals
include modals/view-activity
include modals/confirm
include modals/add-activity
include modals/add-file
include modals/add-attendance
include modals/add-grade
include modals/add-course
include modals/add-course-lecturer
include modals/add-course-students
include modals/add-user
include modals/import
