section.container-title
  // Header
  .row
    .col-md-12
      .page-title-wrapper
          h2 {{title}}
          
section.container-tools( ng-if="isAuthorized(authorizedRoles.courses.tools)")
  section.tools
    h3 {{labels.table.tools}}
    button.ebutton.icon-button(ng-click="modal['add-course'].this()" ng-if="isAuthorized(authorizedRoles.courses.create)")
      i.material-icons.sm school
      span {{labels.buttons.addCourse}}
    button.ebutton.icon-button(ng-click="modal['add-course-lecturer'].this()" ng-if="isAuthorized(authorizedRoles.courses.addLecturer)")
      i.material-icons.sm playlist_add
      span {{labels.buttons.addLecturerToCourse}}
    button.ebutton.icon-button(ng-click="modal['add-course-students'].this()" ng-if="isAuthorized(authorizedRoles.courses.addStudents)")
      i.material-icons.sm playlist_add
      span {{labels.buttons.addStudentsToCourse}}

section.container-content
  .row
    .col-md-12
      .table-wrapper
        .table-title
          include elements/search-bar
          pagination(pager="pager" callback="getPage(index)")
        table.table.elixir-table
          thead
            tr
              th #
              th {{labels.table.title}}
              th {{labels.table.year}}
              th {{labels.table.semester}}
              th.td-fit {{labels.table.lecturers}}
              th.td-actions(ng-show="isAuthorized(authorizedRoles.courses.edit) || isAuthorized(authorizedRoles.courses.delete)") {{labels.table.actions}}
          tbody
            tr(ng-repeat='course in courses track by $index', ui-sref='base.courses.view({id: course.id})')
              th.col-sm-1(scope='row') {{pager.defaultPageSize*pager.currentPage+$index+1}}
              td.td-bold {{course.title}}
              td.td-bold {{course.year}}
              td.td-bold {{course.semester}}
              td.td-blue.td-fit {{course.lecturers.length}}
              td.td-actions(ng-show="isAuthorized(authorizedRoles.courses.edit) || isAuthorized(authorizedRoles.courses.delete)" ng-click="$event.stopPropagation();")
                i.material-icons.icon-button.icon-edit(title="Edit" ng-if="isAuthorized(authorizedRoles.courses.edit)") mode_edit
                i.material-icons.icon-button.icon-delete(title="Delete" ng-if="isAuthorized(authorizedRoles.courses.delete)" ng-click="modal.confirm.this(delete, 'delete', course)") delete_forever
            tr.disable-hover(ng-if='!courses.length')
              td.td-disabled.text-center(colspan='6') No results have been found
