section.container-title
  // Header
  .row
    .col-md-12
      .page-title-wrapper
          h2 {{title}}
          button.ebutton.green-button(data-toggle='modal', data-target='#add-user-modal') Add Course

section.container-content
  .row
    .col-md-12
      .table-wrapper
        table.table.elixir-table
          thead
            tr
              th #
              th Title
              th Year
              th Semester
              th Lecturers
          tbody
            tr(ng-repeat='course in courses track by $index', ui-sref='base.courses.view({id: course.id})')
              th.col-sm-1(scope='row') {{$index+1}}
              td.td-bold {{course.title}}
              td.td-bold {{course.year}}
              td.td-bold {{course.semester}}
              td.td-blue {{course.lecturers.length}}
