section.container-title
  // Header
  .row
    .col-md-12
      span.td-subtitle {{labels.table.year}} {{course.year}} / {{labels.table.semester}} {{course.semester}}
      .page-title-wrapper
          h2 {{title}}
  .row.container-title-nav
    .col-md-12
      .page-title-wrapper
        ul.tabs-wrapper
          li(ui-sref='base.courses.view({detail: null})', ng-class='{active: course.detail=="overview"}') {{labels.table.overview}}
          li(ui-sref='base.courses.view({detail: "lecturers", page: 0})', ng-class='{active: course.detail=="lecturers"}') {{labels.table.lecturers}}
          li(ui-sref='base.courses.view({detail: "students", page: 0})', ng-class='{active: course.detail=="students"}', ng-if="authUser.type!='student'") {{labels.table.students}}
          li(ui-sref='base.courses.view({detail: "activities", page: 0})', ng-class='{active: course.detail=="activities"}', ng-if="authUser.type!='student'") {{labels.table.activities}}

section.container-content
  .row(ng-if="course.detail=='overview'")
    .col-md-12.coverbox-wrapper
        div.coverbox(ui-sref='base.courses.view({detail: "lecturers"})')
          h2 {{course.lecturers.length}}
          h3 {{labels.table.lecturers}}
        div.coverbox(ui-sref='base.courses.view({detail: "students"})' ng-if="authUser.type!='student'")
          h2 {{course.students.length}}
          h3 {{labels.table.students}}
        div.coverbox(ui-sref='base.courses.view({detail: "activities"})' ng-if="authUser.type!='student'")
          h2 {{course.activities.length}}
          h3 {{labels.table.activities}}

  .row(ng-if="course.detail!='overview'")
    .col-wrapper.col-md-12(ng-if="course.hasLecturers || course.hasStudents")
      // Lecturers
      .col-md-12(ng-if="course.hasLecturers")
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th {{labels.table.firstName}}
                th {{labels.table.lastName}}
                th {{labels.table.email}}
            tbody
              tr(ng-repeat='user in course.lecturers track by $index', ui-sref="base.users.view({type: 'lecturers', id: user.id})")
                th.col-sm-1(scope='row') {{pager.defaultPageSize*pager.currentPage+$index+1}}
                td {{user.firstName}}
                td.td-bold {{user.lastName}}
                td.td-blue {{user.email}}
              tr.disable-hover(ng-if='!course.lecturers.length')
                td.td-disabled.text-center(colspan='6') {{labels.errors.noResults}}
      //Student
      .col-md-12(ng-if="course.hasStudents && authUser.type!='student'")
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th {{labels.table.firstName}}
                th {{labels.table.lastName}}
                th {{labels.table.email}}
            tbody
              tr(ng-repeat='user in course.students track by $index', ui-sref="base.users.view({type: 'students', id: user.id})")
                th.col-sm-1(scope='row') {{pager.defaultPageSize*pager.currentPage+$index+1}}
                td {{user.firstName}}
                td.td-bold {{user.lastName}}
                td.td-blue {{user.email}}
              tr.disable-hover(ng-if='!course.students.length')
                td.td-disabled.text-center(colspan='6') {{labels.errors.noResults}}
    .col-wrapper.col-md-12(ng-if="course.hasActivities")
      // Activities
      .col-md-12(ng-if="course.hasActivities && authUser.type!='student'")
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th {{labels.table.type}}
                th {{labels.table.name}}
                th {{labels.table.date}}
            tbody
              tr(ng-repeat='activity in course.activities track by $index', ui-sref='base.activities.list({activity_id: activity.id, course_id: course.id})')
                th.col-sm-1(scope='row') {{pager.defaultPageSize*pager.currentPage+$index+1}}
                td
                  span.tag(ng-class='activity.tag') {{activity.type.name}}
                td {{activity.name}}
                td.td-blue {{activity.date}}
              tr.disable-hover(ng-if='!course.activities.length')
                td.td-disabled.text-center(colspan='6') {{labels.errors.noResults}}
