section.container-title
  // Header
  .row
    .col-md-12
      .page-title-wrapper
          h2 {{title}}

section.container-content
  .row
    .col-md-6
      .table-wrapper
        .table-title
          | Lecturers
        table.table.elixir-table
          thead
            tr
              th #
              th First Name
              th Last Name
              th Email
              th Actions
          tbody
            tr(ng-repeat='user in course.lecturers track by $index', ui-sref="base.users.view({type: 'lecturers', id: user.id})")
              th.col-sm-1(scope='row') {{$index+1}}
              td {{user.firstName}}
              td.td-bold {{user.lastName}}
              td.td-blue {{user.email}}
              td
                i.fa.fa-times(aria-hidden='true')
  .row
    .col-md-6
      .table-wrapper
        .table-title
          | Students
        table.table.elixir-table
          thead
            tr
              th #
              th First Name
              th Last Name
              th Email
              th Actions
          tbody
            tr(ng-repeat='user in course.students track by $index', ui-sref="base.users.view({type: 'students', id: user.id})")
              th.col-sm-1(scope='row') {{$index+1}}
              td {{user.firstName}}
              td.td-bold {{user.lastName}}
              td.td-blue {{user.email}}
              td
                i.fa.fa-times(aria-hidden='true')
