section.container-title
  // Header
  .row
    .col-md-12
      .page-title-wrapper
          h2 {{title}}
          button.ebutton.green-button(data-toggle='modal', data-target='#add-user-modal') Add Group

section.container-content
  .row
    .col-md-12
      .table-wrapper
        .table-title
          include elements/pagination
          include elements/search-bar
        table.table.elixir-table
          thead
            tr
              th #
              th Name
              th Year
              th Students
          tbody
            tr(ng-repeat='group in groups track by $index', ui-sref='base.groups.view({id: group.id})')
              th.col-sm-1(scope='row') {{pager.defaultPageSize*pager.currentPage+$index+1}}
              td.td-bold {{group.name}}
              td.td-bold {{group.year}}
              td.td-blue {{group.students.length}}
            tr.disable-hover(ng-if='!groups.length')
              td.td-disabled.text-center(colspan='6') No results have been found
