section.container-title
  // Header
  .row
    .col-md-12
      span.td-subtitle {{labels.table.year}} {{group.year}} ( {{group.students.length}} {{labels.table.students}} )
      .page-title-wrapper
          h2 {{title}}

section.container-content
  // Header
  .row
    .col-md-6
      .table-wrapper
        .table-title
          | {{labels.table.students}}
        table.table.elixir-table
          thead
            tr
              th #
              th {{labels.table.firstName}}
              th {{labels.table.lastName}}
              th {{labels.table.email}}
              th {{labels.table.actions}}
          tbody
            tr(ng-repeat='user in group.students track by $index', ui-sref="base.users.view({type: 'students', id: user.id})")
              th.col-sm-1(scope='row') {{$index+1}}
              td {{user.firstName}}
              td.td-bold {{user.lastName}}
              td.td-blue {{user.email}}
              td
                i.fa.fa-times(aria-hidden='true')
            tr.disable-hover(ng-if='!group.students.length')
              td.td-disabled.text-center(colspan='6') {{labels.errors.noResults}}
