div(ui-view='')
section.login-wrapper
  section.login-box.col-lg-4.col-md-7.col-sm-9.col-xs-12(ng-class="{'loading-state': form.loading}")
    section.left-box
      figure.logo
      h2 Elixir
      h3 Management
    section.right-box
      div.preloader-wrapper(ng-show="form.loading")
        figure.preloader
        h4 {{labels.login.loading}}
      form.eform(ng-submit="form.submit()" ng-hide="form.loading")
        section.eform-group
          label.error(ng-repeat="error in form.errors") {{error}}
        section.eform-group
          label.elabel(for='email') {{labels.table.email}}
          input.einput(ng-model="form.email" type='email' name='email' placeholder="{{labels.placeholders.enterEmail}}" required)
        section.eform-group
          label.elabel(for='password') {{labels.table.password}}
          input.einput(ng-model="form.password" type='password' name='password' placeholder="{{labels.placeholders.enterPassword}}" required)
        section.eform-group
          snapshot-selector(snapshots='snapshots' snapshot-service='snapshotService') 
        button(type='submit').ebutton.login-button {{labels.login.button}}
  section.col-lg-4.col-md-7.col-sm-9.col-xs-12.university-wrapper.hidden-xs
    p {{labels.login.description}}

include elements/notifications
