section.container-title
  // Header
  .row
    .col-md-12
      .page-title-wrapper
          div
            h2 {{title}}
            
section.container-tools( ng-if="isAuthorized(authorizedRoles.settings)")
  section.tools
    h3 {{languageLabel}}
    button.ebutton.language-toggle(ng-repeat="language in languages" ng-click="languageToggle(language)" ng-class='{"active": checkLanguage(language)}') {{language}}

section.container-content
  .row
    .col-md-6.col-sm-12
      .table-wrapper
        .table-title {{table.detailRowsTitle}}
          button.ebutton.white-button {{buttonLabels.changeDetails}}
        table.table.elixir-table.elixir-table-horizontal.disable-hover
          tbody
            tr(ng-repeat='detailRow in table.detailRows')
              th(scope='detailRow') {{detailRow.title}}
              td
                span(ng-class="detailRow.customClass") {{detailRow.value}}
    .col-md-6.col-sm-12
      .table-wrapper
        .table-title {{table.settingRowsTitle}}
        table.table.elixir-table.elixir-table-horizontal.disable-hover
          tbody
            tr(ng-repeat='settingRow in table.settingRows')
              th(scope='settingRow') {{settingRow.title}}
              td
                span(ng-class="settingRow.customClass") {{settingRow.value}}
      
      
  
