section.container-title
  .row
    .col-md-12
      .page-title-wrapper
        h2 {{title}}
        .filters-wrapper.hide
          span Categories
          ul
            li
              input#studentsFilter.checkbox-hidden(type='checkbox', ng-model='filters.students.visibility', ng-change='filters.toggleFilters()')
              label(for='studentsFilter') Students
            li
              input#lecturersFilter.checkbox-hidden(type='checkbox', ng-model='filters.lecturers.visibility', ng-change='filters.toggleFilters()')
              label(for='lecturersFilter') Lecturers
            li
              input#adminsFilter.checkbox-hidden(type='checkbox', ng-model='filters.admins.visibility', ng-change='filters.toggleFilters()')
              label(for='adminsFilter') Admins
  .row.container-title-nav
    .col-md-12
      .page-title-wrapper
        ul.tabs-wrapper
          li(ui-sref='base.users.list({type: null})', ng-class='{active: users.type=="users"}') All Users
          li(ui-sref='base.users.list({type: "students"})', ng-class='{active: users.type=="students"}') Students
          li(ui-sref='base.users.list({type: "lecturers"})', ng-class='{active: users.type=="lecturers"}') Lecturers
          li(ui-sref='base.users.list({type: "admins"})', ng-class='{active: users.type=="admins"}') Admins

section.container-content
  .row
    .col-md-12
      .table-wrapper
        table.table.elixir-table
          thead
            tr
              th #
              th(ng-hide='users.singleType') Type
              th First Name
              th Last Name
              th Email
              th.hide Actions
          tbody
            tr(ng-repeat='user in users track by $index', ui-sref='base.users.view({type: user.type+"s", id: user.id})')
              th.col-sm-1(scope='row') {{$index+1}}
              td(ng-hide='users.singleType')
                span.tag(ng-class='user.tag') {{user.type}}
              td {{user.firstName}}
              td.td-bold {{user.lastName}}
              td.td-blue {{user.email}}
              td.hide
                i.fa.fa-times(aria-hidden='true')
