section.content-container
  // Header
  .row
    .col-md-12
      .page-title-wrapper
        .page-title-item
          h2.h2-sm
            a(ui-sref='users.list') Users 
            | >
          h2.h2-sm
            a(ui-sref='users.list') {{user.type}} 
            | >
          h2
            a(ui-sref='users.view({id: user.id})') {{title}}
          span.tag.hide(ng-class='user.tag') {{user.type}}
  // Groups
  .row
    .col-wrapper.col-lg-6.col-md-12(ng-if='user.hasAttendances || user.hasGrades')
      // Attendances
      .col-md-12.col-sm-12
        .table-wrapper(ng-if='user.hasAttendances')
          .table-title
            | Attendances
            button.ebutton.green-button(data-toggle='modal', data-target='#add-course-modal', ng-click='modal.open()' ng-show="settings.editButtons") Add Attendance
          table.table.elixir-table
            thead
              tr
                th #
                th.hidden-xs Name
                th Type
                th Date
                th Course
            tbody
              tr(ng-repeat='attendance in user.attendances track by $index', ui-sref='activities.view({type: "attendances", activity_id: attendance.activity.id, user_id: attendance.student.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.hidden-xs.td-bold {{attendance.activity.name}}
                td
                  span.tag.tag-auto(ng-class='activity.tag' ng-attr-title='{{attendance.activity.type.name}}') {{attendance.activity.type.name}}
                td.td-blue {{attendance.activity.date}}
                td.td-bold {{attendance.activity.course.title}}
      // Grades
      .col-md-12.col-sm-12
        .table-wrapper(ng-if='user.hasGrades')
          .table-title
            | Grades
            button.ebutton.green-button(data-toggle='modal', data-target='#add-course-modal', ng-click='modal.open()' ng-show="settings.editButtons") Add Grade
          table.table.elixir-table
            thead
              tr
                th #
                th Value
                th.hidden-xs Name
                th Type
                th.hidden-xs Date
                th Course
            tbody
              tr(ng-repeat='grade in user.grades track by $index', ui-sref='activities.view({type: "grades", activity_id: grade.activity.id, user_id: grade.student.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold.td-lg.td-blue
                  span.tag.tag-auto.tag-grade {{grade.value}}
                td.hidden-xs.td-bold {{grade.activity.name}}
                td
                  span.tag.tag-auto(ng-class='activity.tag' ng-attr-title='{{grade.activity.type.name}}') {{grade.activity.type.name}}
                td.hidden-xs.td-blue {{grade.activity.date}}
                td.td-bold {{grade.activity.course.title}}
    .col-wrapper.col-lg-6.col-md-12(ng-if='user.hasGroups || user.hasCourses')
      .col-md-12.col-sm-12
        .table-wrapper(ng-if='user.hasGroups')
          .table-title
            | Groups
            button.ebutton.green-button(data-toggle='modal', data-target='#add-group-modal', ng-click='modal.open()' ng-show="settings.editButtons") Add Group
          table.table.elixir-table
            thead
              tr
                th #
                th Name
                th Year
            tbody
              tr(ng-repeat='group in user.groups track by $index', ui-sref='groups.view({id: group.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold {{group.name}}
                td.td-bold {{group.year}}
      // Courses
      .col-md-12.col-sm-12
        .table-wrapper(ng-if='user.hasCourses')
          .table-title
            | Courses
            button.ebutton.green-button(data-toggle='modal', data-target='#add-course-modal', ng-click='modal.open()' ng-show="settings.editButtons") Add Course
          table.table.elixir-table
            thead
              tr
                th #
                th Title
                th Year
                th Semester
            tbody
              tr(ng-repeat='course in user.courses track by $index', ui-sref='courses.view({id: course.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold {{course.title}}
                td.td-bold {{course.year}}
                td.td-bold {{course.semester}}
              
//Modals
#add-group-modal.modal.custom-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h2 Add Group
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        ul
          li
            p Select in which group to enroll this student
          li
            select#group(name='group', ng-model='modal.user.group', ng-options='group as group.name for group in modal.groups track by group.id', placeholder='Select Group')
              option(value='', selected='', disabled='') Select Group
          li.error(ng-if='modal.user.errors.group') {{modal.user.errors.group}}
      .modal-footer
        button.ebutton.white-button(type='button', data-dismiss='modal') Close
        button.ebutton.green-button(type='button', ng-click='modal.submit()') Add Group
    // /.modal-content
  // /.modal-dialog
// /.modal
