section.container-title
  .row
    .col-md-12
      .page-title-wrapper
        h2 {{title}}
        .filters-wrapper.hide
          span Categories
          ul
            li
              input#studentsFilter.checkbox-hidden(type='checkbox', ng-model='filters.students.visibility', ng-change='filters.toggleFilters()')
              label(for='studentsFilter') {{labels.table.students}}
            li
              input#lecturersFilter.checkbox-hidden(type='checkbox', ng-model='filters.lecturers.visibility', ng-change='filters.toggleFilters()')
              label(for='lecturersFilter') {{labels.table.lecturers}}
            li
              input#adminsFilter.checkbox-hidden(type='checkbox', ng-model='filters.admins.visibility', ng-change='filters.toggleFilters()')
              label(for='adminsFilter') {{labels.table.admins}}
  .row.container-title-nav
    .col-md-12
      .page-title-wrapper
        ul.tabs-wrapper
          li(ui-sref='base.users.list({type: null})', ng-class='{active: users.type=="users"}') {{labels.table.allUsers}}
          li(ui-sref='base.users.list({type: "students"})', ng-class='{active: users.type=="students"}') {{labels.table.students}}
          li(ui-sref='base.users.list({type: "lecturers"})', ng-class='{active: users.type=="lecturers"}') {{labels.table.lecturers}}
          li(ui-sref='base.users.list({type: "admins"})', ng-class='{active: users.type=="admins"}') {{labels.table.admins}}

section.container-tools
  section.tools
    h3 {{labels.table.tools}}
    button.ebutton.icon-button(ng-if="isAuthorized(authorizedRoles.users.create)" ng-click="modal['add-user'].this()")
      i.material-icons.sm person_add
      span {{labels.buttons.addUser}}

section.container-content
  .row
    .col-md-12
      .table-wrapper
        .table-title
          include elements/search-bar
          pagination(pager="pager" callback="refresh(index)" class="right")
        table.table.elixir-table
          thead
            tr
              th.td-fit #
              th.col-sm-1(ng-hide='users.singleType') {{labels.table.type}}
              th.col-sm-2 {{labels.table.lastName}}
              th.col-sm-2 {{labels.table.firstName}}
              th {{labels.table.email}}
              th.td-actions(ng-show="isAuthorized(authorizedRoles.users.edit) || isAuthorized(authorizedRoles.users.delete)") {{labels.table.actions}}
          tbody
            tr(ng-repeat='user in users track by $index', ui-sref='base.users.view({type: user.type+"s", id: user.id})')
              th.td-fit(scope='row') {{pager.defaultPageSize*pager.currentPage+$index+1}}
              td(ng-hide='users.singleType')
                span.tag(ng-class='user.tag') {{user.type}}
              td.td-bold {{user.lastName}}
              td {{user.firstName}}
              td.td-blue.td-break {{user.email}}
              td.td-actions(ng-show="isAuthorized(authorizedRoles.users.edit) || isAuthorized(authorizedRoles.users.delete)" ng-click="$event.stopPropagation();")
                i.material-icons.icon-button.icon-edit(title="Edit" ng-if="isAuthorized(authorizedRoles.users.edit)") mode_edit
                i.material-icons.icon-button.icon-delete(title="Delete" ng-if="isAuthorized(authorizedRoles.users.delete) && !(user.id===authUser.id && user.type===authUser.type)" ng-click="modal.confirm.this(delete, 'delete', user)") delete_forever
            tr.disable-hover(ng-if='!users.length')
              td.td-disabled.text-center(colspan='6') {{labels.errors.noResults}}
