section.container-title
  // Header
  .row
    .col-md-12
      span.td-subtitle {{user.email}}
      .page-title-wrapper
        .title-section
          h2 {{title}}
          span.tag.tag-auto(ng-class='user.tag.class') {{user.tag.name}}
  .row.container-title-nav
    .col-md-12
      .page-title-wrapper
        ul.tabs-wrapper
          li(ui-sref='base.users.view({detail: null})', ng-class='{active: user.detail=="overview"}') Overview
          li(ui-sref='base.users.view({detail: "attendances", page: 0})', ng-class='{active: user.detail=="attendances"}', ng-if='user.type=="students"') Attendances
          li(ui-sref='base.users.view({detail: "grades", page: 0})', ng-class='{active: user.detail=="grades"}', ng-if='user.type=="students"') Grades
          li(ui-sref='base.users.view({detail: "files", page: 0})', ng-class='{active: user.detail=="files"}', ng-if='user.type=="students"') Files
          li(ui-sref='base.users.view({detail: "groups", page: 0})', ng-class='{active: user.detail=="groups"}', ng-if='user.type=="students"') Groups
          li(ui-sref='base.users.view({detail: "courses", page: 0})', ng-class='{active: user.detail=="courses"}', ng-if='user.type=="students" || user.type=="lecturers"') Courses

section.container-content
  .row(ng-if='user.detail=="overview"')
    .col-md-12.coverbox-wrapper
        div.coverbox(ng-if='user.hasAttendances', ui-sref='base.users.view({detail: "attendances"})')
          h2 {{user.attendances.length}}
          h3 Attendances
        div.coverbox(ng-if='user.hasGrades', ui-sref='base.users.view({detail: "grades"})')
          h2 {{user.grades.length}}
          h3 Grades
        div.coverbox(ng-if='user.hasFiles', ui-sref='base.users.view({detail: "files"})')
          h2 {{user.files.length}}
          h3 Files
        div.coverbox(ng-if='user.hasGroups', ui-sref='base.users.view({detail: "groups"})')
          h2 {{user.groups.length}}
          h3 Groups
        div.coverbox(ng-if='user.hasCourses', ui-sref='base.users.view({detail: "courses"})')
          h2 {{user.courses.length}}
          h3 Courses
  .row(ng-if='user.detail!="overview"')
    .col-wrapper.col-md-12(ng-if='user.hasAttendances || user.hasGrades || user.hasFiles' ng-class="{'col-lg-12': user.detail!='overview', 'col-lg-6': user.detail=='overview'}")
      // Files
      .col-md-12.col-sm-12(ng-if='user.hasFiles')
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th File
                th.hidden-xs Name
                th Type
                th.hidden-xs Date
                th Course
            tbody
              tr(ng-repeat='file in user.files track by $index', ui-sref='base.activities.view({type: "files", activity_id: file.activity.id, user_id: file.student.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold.td-blue {{file.fileName+'.'+file.extension}}
                td.hidden-xs.td-bold {{file.activity.name}}
                td
                  span.tag.tag-auto(ng-class='activity.tag' ng-attr-title='{{grade.activity.type.name}}') {{file.activity.type.name}}
                td.hidden-xs.td-blue {{file.activity.date}}
                td.td-bold {{file.activity.course.title}}
              tr.disable-hover(ng-if='!user.files.length')
                td.td-disabled.text-center(colspan='6') No results have been found
      // Attendances
      .col-md-12.col-sm-12(ng-if='user.hasAttendances')
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th.hidden-xs Name
                th Type
                th Date
                th Course
            tbody
              tr(ng-repeat='attendance in user.attendances track by $index', ui-sref='base.activities.view({type: "attendances", activity_id: attendance.activity.id, user_id: attendance.student.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.hidden-xs.td-bold {{attendance.activity.name}}
                td
                  span.tag.tag-auto(ng-class='activity.tag' ng-attr-title='{{attendance.activity.type.name}}') {{attendance.activity.type.name}}
                td.td-blue {{attendance.activity.date}}
                td.td-bold {{attendance.activity.course.title}}
              tr.disable-hover(ng-if='!user.attendances.length')
                td.td-disabled.text-center(colspan='6') No results have been found
      // Grades
      .col-md-12.col-sm-12(ng-if='user.hasGrades')
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th Value
                th.hidden-xs Name
                th Type
                th.hidden-xs Date
                th Course
            tbody
              tr(ng-repeat='grade in user.grades track by $index', ui-sref='base.activities.view({type: "grades", activity_id: grade.activity.id, user_id: grade.student.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold.td-lg.td-blue
                  span.tag.tag-auto.tag-grade {{grade.value}}
                td.hidden-xs.td-bold {{grade.activity.name}}
                td
                  span.tag.tag-auto(ng-class='activity.tag' ng-attr-title='{{grade.activity.type.name}}') {{grade.activity.type.name}}
                td.hidden-xs.td-blue {{grade.activity.date}}
                td.td-bold {{grade.activity.course.title}}
              tr.disable-hover(ng-if='!user.grades.length')
                td.td-disabled.text-center(colspan='6') No results have been found
    .col-wrapper.col-md-12(ng-if='user.hasGroups || user.hasCourses' ng-class="{'col-lg-12': user.detail!='overview', 'col-lg-6': user.detail=='overview'}")
      // Groups
      .col-md-12.col-sm-12(ng-if='user.hasGroups')
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th Name
                th Year
            tbody
              tr(ng-repeat='group in user.groups track by $index', ui-sref='base.groups.view({id: group.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold {{group.name}}
                td.td-bold {{group.year}}
              tr.disable-hover(ng-if='!user.groups.length')
                td.td-disabled.text-center(colspan='6') No results have been found
      // Courses
      .col-md-12.col-sm-12(ng-if='user.hasCourses')
        .table-wrapper
          .table-title
            include elements/pagination
            //- include elements/search-bar
          table.table.elixir-table
            thead
              tr
                th #
                th Title
                th Year
                th Semester
            tbody
              tr(ng-repeat='course in user.courses track by $index', ui-sref='base.courses.view({id: course.id})')
                th.col-sm-1(scope='row') {{$index+1}}
                td.td-bold {{course.title}}
                td.td-bold {{course.year}}
                td.td-bold {{course.semester}}
              tr.disable-hover(ng-if='!user.courses.length')
                td.td-disabled.text-center(colspan='6') No results have been found
              
//Modals
#add-group-modal.modal.custom-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h2 Add Group
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        ul
          li
            p Select in which group to enroll this student
          li
            select#group(name='group', ng-model='modal.user.group', ng-options='group as group.name for group in modal.groups track by group.id', placeholder='Select Group')
              option(value='', selected='', disabled='') Select Group
          li.error(ng-if='modal.user.errors.group') {{modal.user.errors.group}}
      .modal-footer
        button.ebutton.white-button(type='button', data-dismiss='modal') Close
        button.ebutton.green-button(type='button', ng-click='modal.submit()') Add Group
    // /.modal-content
  // /.modal-dialog
// /.modal
