
<div id="add-course" tabindex="-1" role="dialog" class="modal custom-modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-icon"><i class="material-icons">school</i>
        <h2>{{modal['add-course'].title}}</h2>
      </div>
      <div class="modal-body">
        <div ng-show="modal['add-course'].loading" class="preloader-wrapper">
          <figure class="preloader"></figure>
          <h5>Adăugare curs</h5>
        </div>
        <ul ng-hide="modal['add-course'].loading">
          <li>
            <label for="title">Course</label>
            <input type="text" name="title" ng-model="modal.local.title" placeholder="Enter course title" required="required"/>
          </li>
          <li ng-if="modal.local.errors.title" class="error">{{modal.local.errors.title}}</li>
          <li>
            <label for="year">Year</label>
            <input type="number" min="0" name="year" ng-model="modal.local.year" placeholder="Enter course year" required="required"/>
          </li>
          <li ng-if="modal.local.errors.year" class="error">{{modal.local.errors.year}}</li>
          <li>
            <label for="semester">Semester</label>
            <button type="button" ng-click="modal.local.semester=1" ng-class="{&quot;checked&quot;: modal.local.semester===1}" class="ebutton radio-button">Semester 1</button>
            <button type="button" ng-click="modal.local.semester=2" ng-class="{&quot;checked&quot;: modal.local.semester===2}" class="ebutton radio-button">Semester 2</button>
          </li>
          <li ng-if="modal.local.errors.semester" class="error">{{modal.local.errors.semester}}</li>
        </ul>
      </div>
      <div ng-hide="modal['add-course'].loading" class="modal-footer text-center">
        <button type="button" data-dismiss="modal" class="ebutton white-button">{{modal['add-course'].cancel}}</button>
        <button type="button" ng-click="modal[&quot;add-course&quot;].action.submit(modal.local)" class="ebutton green-button">{{modal['add-course'].submit}}</button>
      </div>
    </div>
  </div>
</div>