.main-container{
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  // background: linear-gradient(to bottom, $backgroundColor 0%, darken($backgroundColor, 5) 100%);
  background-color: $backgroundColor;
}

.container-wrapper{
  display: flex;
  flex-grow: 1;
  overflow: scroll;

  & > * {
    width: 100%;
  }
}

.container-header{
  display: flex;
  height: calc(#{$logoWrapperHeight} + 1px);
  background-color: white;
  border-bottom: 2px solid rgba(255,255,255,0.3);

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // padding: 20px 40px;
  padding: 0 40px;

  h2{
    font-family: $headerFont;
    font-size: 18px;
    font-weight: 700;

    color: rgba(0,0,0,0.5);
    margin: 0;
  }

  box-sizing: border-box;
  border-bottom: 1px solid $shadowGrey;

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;

    &.breadcrumbs-list{
      li:not(:last-child){
        margin-right: 10px;
      }
      li span{
        font-size: 14px;
      }
    }

    li{
      &:not(:last-child){
        margin-right: 20px;
      }

      color: rgba(0,0,0,0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 300ms ease-in-out;

      a{
        display: flex;
        justify-content: center;
        align-items: center;

        transition: color 150ms ease-in-out;

        color: rgba(0,0,0,0.5);

        span{
          font-size: 14px;
        }

        text-decoration: none;
        cursor: pointer;
        &:hover{
          color: rgba(0,0,0,0.8);
          // color: $lightGreen;
        }
      }

      a, i, span{
        &:not(:last-child){
          margin-right: 10px;
        }
      }

      span{
        font-family: $sidebarFont;
        font-weight: 700;
        font-size: 12px;
        text-transform: capitalize;
      }

      i{
        font-size: 18px;
      }

      &:last-child .breadcrumb-separator{
        display: none;
      }
    }
  }
}

.body-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-title{
  display: flex;
  flex-direction: column;

  padding: 30px 40px;
  background-color: white;
  // background-color: $lightGreen;
  border-bottom: 1px solid $shadowGrey;

  .container-title-nav{
    margin-bottom: -30px;
  }
}
.container-content{
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 40px;
  padding-top: 30px;
  // padding-top: 20px;
}

.page-title-wrapper{
  // margin: 10px 0;
  // margin-bottom: 20px;
  // padding-bottom: 10px;

  h2 {
    font-family: $headerFont;
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;

    color: rgba(0,0,0,0.5);
    // color: white;

    margin: 0;
    padding: 0;

    &.h2-sm{
      font-size: 24px;
    }

    &:not(:last-child){
      margin-right: 10px;
    }

    a{
      text-decoration: none;
      color: $darkGrey;
      transition: color 100ms ease-in-out;
      text-transform: capitalize;

      &:hover{
        color: lighten(black,30);
      }
    }

  }

  span{
    &:not(:last-child){
      margin-right: 10px;
    }
  }

  .page-title-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // border-bottom: 5px solid rgba(0,0,0,0.1);
}

//Hide
::-webkit-scrollbar {
    display: none;
}

//Hidden
input[type=checkbox].checkbox-hidden{
  display: none;
}

//No padding
.col-wrapper{
  padding: 0;
}
