//Tags

span.tag{
  width: auto;
  padding: 3px 10px;

  font-family: $tagFont;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  width: 100px;
  min-width: 75px;

  display: block;
  text-align: center;

  color: white;
  background-color: $darkGrey;

  &.tag-student{
    background-color: $studentColor;
  }

  &.tag-lecturer{
    background-color: $lecturerColor;
  }

  &.tag-admin{
    background-color: $adminColor;
  }

  &.tag-attendance{
    background-color: $attendanceColor;
  }

  &.tag-grade{
    background-color: $gradeColor;
  }

  &.tag-file{
    background-color: $fileColor;
  }
}


//Filters

.filters-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 0;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: bold;

  span{
    font-family: $headerFont;
    color: rgba(0,0,0,0.5);
    margin-right: 25px;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;
    margin-bottom: 0;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin-right: 25px;

      label{
        position: relative;
        font-family: $headerFont;
        font-size: 14px;
        color: $darkGrey;
        text-transform: uppercase;
        user-select: none;

        margin-bottom: 0;
        padding-left: 35px;
        cursor: pointer;

        transition: color 200ms ease-in-out;

        &:before{
          content: '';
          position: absolute;
          z-index: 1;
          top: 6px;
          left: 6px;

          width: 8px;
          height: 8px;

          cursor: pointer;
          background-color: $darkGrey;
          opacity: 0;
          transition: background-color 200ms ease-in-out;
        }

        &:after{
          content: '';
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;

          width: 20px;
          height: 20px;
          border: 3px solid $darkGrey;

          transition: all 200ms ease-in-out;
        }
      }

      figure.custom-checkbox{
        width: 15px;
        height: 15px;
        border: 3px solid $lightGreen;

        margin: 0;
        margin-right: 10px;
        padding: 0;
      }

      input[type="checkbox"]{
        margin: 0;
        margin-right: 10px;
        border-radius: 0;

        &:checked + label{
          color: $lightGreen;
          &:after{
            border-color: $lightGreen;
          }
          &:before{
            opacity: 1;
            background-color: $lightGreen;
          }
        }
      }
    }
  }

}

//Buttons

button.ebutton {
  box-shadow: none;
  border: 2px solid rgba(0,0,0,0.1);
  padding: 3px 15px;

  text-transform: uppercase;
  font-size: 12px;

  opacity: 0.8;
  transition: all 200ms cubic-bezier(0.07, 0.97, 0.58, 1);

  color: white;
  font-family: $headerFont;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;

  border: 1px solid rgba(0, 0, 0, 0.05);

  &:hover{
    opacity: 1;
  }

  &:focus{
    outline: none;
  }

  &.green-button{
    color: white;
    background-color: $lightGreen;
  }

  &.white-button{
    color: rgba(0,0,0,0.5);
    background-color: white;
    border-color: rgba(0,0,0,0.2);
  }
}

//Modal
.custom-modal{
  .modal-content{
    box-shadow: none;
    border-radius: 0;

    padding: 25px;

    .modal-header{
      padding: 0;
      padding-bottom: 20px;

      h2 {
        font-family: $headerFont;
        font-size: 24px;
        font-weight: 700;

        color: rgba(0,0,0,0.5);

        margin: 0;
        padding: 0;
      }

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      border-bottom: 3px solid rgba(0,0,0,0.1);

      &:before, &:after{
        display: none;
      }
    }

    .modal-body{
      padding: 25px 0;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li.error{
          color: $lightRed;
          font-family: $contentFont;
          font-size: 14px;
          font-weight: 400;
          width: 100%;
          margin-top: -10px;
          text-align: left;
          display: block;
          margin-left: 115px;
        }

        li{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          &:not(:last-child){
            margin-bottom: 20px;
          }

          p{
            font-family: $titleFont;
            font-size: 16px;
            color: rgba(0,0,0,0.5);
          }

          label{
            font-family: $contentFont;
            font-size: 14px;
            font-weight: 400;
            margin-right: 15px;
            margin-bottom: 0;
            width: 100px;
          }

          input, select{
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 0;
            padding: 8px 10px;
            flex-grow: 1;

            transition: all 200ms ease-in-out;

            &:focus{
              outline: none;
              border-color: lighten($lightGreen, 20);
            }
          }

        }
      }

      border-bottom: 3px solid rgba(0,0,0,0.1);
    }

    .modal-footer{
      padding: 20px 0;
      padding-bottom: 0;
    }
  }
}
