
.table-wrapper{
  width: 100%;
  // padding: 20px;
  margin-bottom: 20px;
  // border: 1px solid rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  // border: 1px solid rgba(0,0,0,0.03);
}

.table-title{
  width: 100%;
  // background-color: $accentColor;
  background-color: transparent;
  // background-color: $lightGreen;
  border-bottom: 1px solid rgba(0,0,0,0.06);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;

  // padding: 5px 20px;
  padding-bottom: 10px;
  // padding-left: 0;

  color: $darkGrey;
  // color: $lightGreen;
  // color: white;
  // font-family: $headerFont;
  font-family: $contentFont;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.elixir-table{
  margin-bottom: 0;
  box-sizing: border-box;
  // background-color: white;

  tbody, thead{
    background-color: white;

    tr td{
      padding: 10px 15px;
      font-family: $contentFont;
      font-size: 14px;
      font-weight: 400;
      color: lighten(black, 20);

      vertical-align: middle;

      border: 1px solid rgba(0,0,0,0.03);
    }

    tr th{
      padding: 15px 15px;
      font-family: $contentFont;

      vertical-align: middle;

      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0,0,0,0.03);

      &:first-child{
        padding-left: 20px;
        padding-right: 20px;
      }
    }

  }

  thead tr{
    // background-color: rgba(0,0,0,0.1);
    th {
      padding: 20px 15px;
      // color: white;
    }
  }

  tbody{
    tr{
      // transition: background-color 100ms ease;
      th{
        width: 50px;
      }
      th.th-bg{
        background-color: rgba(0,0,0,0.1);
      }
    }
    tr:hover{
      transition: all 200ms cubic-bezier(0.3, 1.35, 1, 1);
      background-color: rgba(0,0,0,0.03);
      cursor: pointer;
      & td, & th{
        // color: white;
      }
    }
  }

  &.disable-hover{
    tbody{
      tr:hover{
        background-color: white;
        cursor: default;
      }
    }
  }

}

.elixir-table-horizontal{
  tbody{
    tr{
      th{
        background-color: rgba(0,0,0,0.1);
        font-size: 14px;
        width: auto;
        width: 30%; //TODO temporary value
      }
      td{
        display: block;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;

        & > span.tag{
          display: inline;
          margin-right: 10px;
        }
      }
    }
  }
}


//Cells extra styles
.td-bold{
  font-weight: bold !important;
}

.td-lg{
  font-size: 16px !important;
}

.td-blue{
  color: $lightBlue !important;
}

.td-green{
  color: $lightGreen !important;
}

.td-spaced{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.td-disabled{
  color: grey;
  opacity: 0.5;
}

.td-empty{
  color: black !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  font-weight: bold !important;
  background-color: lightgrey !important;
  border: none !important;
  opacity: 0.5 !important;
}
