doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')
//if IE 8
  html.no-js.lt-ie9(lang='')
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Elixir - Management Platform
    meta(name='keywords', content='web,designer,developer,html,css,javascript,java')
    meta(name='description', content='I am a passionate web designer and developer and I focus on creating beautiful web experiences.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Vendor styles
    link(rel='stylesheet', href='css/vendor/normalize.min.css')
    link(rel='stylesheet', href='css/vendor/default.css')
    link(rel='stylesheet', href='css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='css/vendor/font-awesome.css')
    link(rel='stylesheet', href='css/vendor/material.css')
    link(rel='stylesheet', href='css/vendor/animate.css')
    // Custom styles
    link(rel='stylesheet', href='css/main.css')
    // Vendor scripts
    script(src='js/vendor/jquery-1.11.2.min.js')
    script(src='js/vendor/modernizr-2.8.3.min.js')
    script(src='js/vendor/angular.min.js')
    script(src='js/vendor/angular-ui-router.min.js')
    //- script(src="js/vendor/angular-animate.min.js")
    script(src='js/vendor/angular-resource.js')
    script(src='js/vendor/angular-cookies.min.js')
    script(src='js/vendor/bootstrap.min.js')
    // Custom fonts
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:300,400', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
  body(ng-app='app')
    //View
    div(ui-view='')
    // Scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='js/main.js')
